<div class="">
  <%= f.check_box :share_resume, id: 'share_resume' %><label for="share_resume"><%= I18n.t("registration.step5.checkbox1")%></label>
</div>
<div class="">
  <%= f.check_box :share_application_essay, id: 'share_application_essay' %><label for="share_application_essay"><%= I18n.t("registration.step5.checkbox2")%></label>
</div>
<div class="">
  <%= f.check_box :share_offer_letter, id: 'share_offer_letter' %><label for="share_offer_letter"><%= I18n.t("registration.step5.checkbox3")%></label>
</div>
<div class="">
  <%= f.check_box :share_gpa, id: 'share_gpa' %><label for="share_gpa"><%= I18n.t("registration.step5.checkbox4")%></label>
</div>
<div class="">
  <%= f.check_box :share_gre_score, id: 'share_gre_score' %><label for="share_gre_score"><%= I18n.t("registration.step5.checkbox5")%></label>
</div>
<div class="">
  <%= f.check_box :share_paper, id: 'share_paper' %><label for="share_paper"><%= I18n.t("registration.step5.checkbox6")%></label>
</div>
<div class="">
  <%= f.check_box :share_course_essay, id: 'share_course_essay' %><label for="share_course_essay"><%= I18n.t("registration.step5.checkbox7")%></label>
</div>
