<div class="">
  <%= f.check_box :share_edited_files, "data-class": "q1",id: 'q1'%>
    <label for="q1">Allow to share edited files</label>
</div>
<div class="">
  <%= f.check_box :share_info, "data-class": "q2",id: 'q2'%>
    <label for="q2">Allow to share my information</label>
</div>
<div class="">
  <%= f.check_box :meet_in_person, "data-class": "q3",id: 'q3'%>
    <label for="q3">Allow to meet in person</label>
</div>
<div class="">
  <%= f.check_box :answer_free, "data-class": "q4",id: 'q4'%>
    <label for="q4">Allow to answer questions for free</label>
</div>
<div class="">
  <%= f.check_box :personal_questions, "data-class": "q5",id: 'q5'%>
    <label for="q5">Allow to ask personal questions</label>
</div>
