<div class="row">
  <div class="col-md-8">
    <div class="form-group">
      <%= f.label :consulting_tutor, "Become a consulting tutor?" %>
      <%= f.select :consulting_tutor, InstructorInfo.tutor_options(lang), {}, { class: 'select2' } %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <%= f.label :brainstorming_tutor, "Become a brainstorming tutor?" %>
      <%= f.select :brainstorming_tutor, InstructorInfo.tutor_options(lang), {}, { class: 'select2' } %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <%= f.label :writing_tutor, "Become a writing tutor?" %>
      <%= f.select :writing_tutor, InstructorInfo.tutor_options(lang), {}, { class: 'select2' } %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <%= f.label :visa_consultant, "Become a visa consulting tutor?" %>
      <%= f.select :visa_consultant, InstructorInfo.tutor_options(lang), {}, { class: 'select2' } %>
    </div>
  </div>
</div>
