<div class="message received-message">
  <div class="msg-content-wrapper">
    <div class="msg-by-user msg"><div class="img" style='<%= "background-image: url('#{profile_image_of(message.sender)}');" %>'></div>
    <span class="msg"><%= message.content %></span>
    <div class="date-time-con">
      <div class="date-time-send"><%= message.created_at.strftime('%b %-d, %y - %l:%M %p') %></div>
    </div>
    <div class="msg-attachments">
      <% for attachment in message.attachments do %>
        <div class="attachment">
          <a href="<%= attachment.file.url %>" target="_blank"><%= attachment.read_attribute(:file) %></a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- var $chat_line = $(' <span class="msg">' + sanitize(comm.content) + '</span>  </div>') -->
