<% message_history = [] if local_assigns[:message_history].nil? %>

<!-- </div> -->

<!-- <div class="message-box"> -->
  <!-- <div class="row" style="height:300px;"> -->
    <!-- <div class="col-9"> -->
      <div class="message-history <%=box_id%>" id="message-history">
        <% for message in message_history do %>
        <% next if message.content.empty? %>
        <div class="message  <%=message_class message%>">
          <span class="fs-120 d-block"><strong><%= message.sender.full_name %></strong></span>
          <span class="fs-80 d-block">Posted on: <%= message.created_at.strftime('%b %-d, %y - %l:%M %p') %></span>
          <p class="mb-1"><%= message.content %></p>
          <% for attachment in message.attachments do %>
          <div class="attachment">
            <a href="<%= attachment.file.url %>" target="_blank"><%= attachment.read_attribute(:file) %></a>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    <!-- </div> -->
  <!-- </div> -->
  <!-- <div class="row"> -->
    <!-- <div class="col-9 ml-auto"> -->
      <% msg = Message.new(receiver_id: other.id) %>
      <%= form_with model: msg, class: 'message-form', data: { type: 'json', boxId: box_id } do |f| %>
      <div class="form-group text-area-wrapper">
        <%= f.hidden_field :receiver_id %>
        <%= f.text_area :content, class: 'form-control message-box-area', rows: 8, style: 'resize:none', id: "message-box-area" %>
        <label for="attachments-input" class="attachments"><i class="fa fa-paperclip"></i></label>
      </div>
      <div class="form-group d-flex">
        <div class="attachments-container">
        </div>
        <div class="w-100">
          <%= file_field_tag '', id: 'attachments-input', class: 'attachments-input', multiple: true,
          data: { url: attachments_path, param_name: 'attachment[file]',
            form_data: { 'attachment[file_type]': 'attachment' }, data_type: 'json' } %>
            <%= f.submit '发送', class: 'btn btn-primary float-right msg-send-btn' %>
          </div>
        </div>
        <div class="form-group">
        </div>
        <% end %>
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
