<!-- <h5>我的消息</h5> -->
<!-- <hr> -->
<div class='row'>
  <div class="col-3">
    <% for contact in @contacts do %>
      <div class="left-msg-nav-item" data-target="#message-history-wrapper<%= contact.id%>">
        <%= render partial: 'left_nav_item', locals: {other: contact, message_history: @grouped_msgs[contact], box_id: "box-#{contact.id}"} %>
      </div>
    <% end %>
  </div>
  <div class="col-9">
    <% @contacts.each_with_index do |contact, index| %>
      <div class="right-message-content <%= index == 0 ? '': ' hidden'%>" id="message-history-wrapper<%= contact.id%>">
        <%= render partial: 'message_box', locals: {other: contact, message_history: @grouped_msgs[contact], box_id: "box-#{contact.id}"} %>
      </div>
    <% end %>
  </div>
</div>
