<%= form_for(instructor_info, url: instructor_info_path, method: method, html: { multipart: true }) do |f| %>
  <%= error_messages_for(f.object) %>
  <table summary="Instructor information fields">
    <tr>
      <th><%= f.label(:consult_experience) %></th>
      <td><%= f.text_area(:consult_experience) %></td>
    </tr>
    <tr>
      <th><%= f.label(:previous_applications) %></th>
      <td><%= f.text_area(:previous_applications) %></td>
    </tr>
    <tr>
      <th><%= f.label(:previous_offers) %></th>
      <td><%= f.text_area(:previous_offers) %></td>
    </tr>
    <tr>
      <th><%= f.label(:gpa, 'GPA') %></th>
      <td><%= f.text_field(:gpa) %></td>
    </tr>
    <tr>
      <th><%= f.label(:gre_score, 'GRE score') %></th>
      <td><%= f.text_field(:gre_score) %></td>
    </tr>
    <tr>
      <th><%= f.label(:suggestions_to_students) %></th>
      <td><%= f.text_area(:suggestions_to_students) %></td>
    </tr>
    <tr>
      <th><%= f.label(:specialties) %></th>
      <td><%= f.text_field(:specialties) %></td>
    </tr>
    <tr>
      <th><%= f.label(:page_title) %></th>
      <td><%= f.text_field(:page_title) %></td>
    </tr>
    <tr>
      <th><%= f.label(:available_time_slots) %></th>
      <td><%= f.text_area(:available_time_slots) %></td>
    </tr>
    <tr>
      <th><%= f.label(:busy_events) %></th>
      <td><%= f.text_area(:busy_events) %></td>
    </tr>
    <tr>
      <th><%= f.label(:is_early_consult) %></th>
      <td><%= f.check_box(:is_early_consult) %></td>
    </tr>
    <tr>
      <th><%= f.label(:is_brainstorm_consult) %></th>
      <td><%= f.check_box(:is_brainstorm_consult) %></td>
    </tr>
    <tr>
      <th><%= f.label(:is_essay_consult) %></th>
      <td><%= f.check_box(:is_essay_consult) %></td>
    </tr>
    <tr>
      <th><%= f.label(:is_visa_consult) %></th>
      <td><%= f.check_box(:is_visa_consult) %></td>
    </tr>
    <tr>
      <th><%= f.label(:is_visa_consult) %></th>
      <td><%= f.check_box(:is_visa_consult) %></td>
    </tr>
    <tr>
      <th><%= f.label(:consult_capacity_min) %></th>
      <td><%= f.number_field(:consult_capacity_min, in: 1..100) %></td>
    </tr>
    <tr>
      <th><%= f.label(:consult_capacity_max) %></th>
      <td><%= f.number_field(:consult_capacity_max, in: 1..100) %></td>
    </tr>
    <tr>
      <th><%= f.label(:consult_term_min) %></th>
      <td><%= f.number_field(:consult_term_min, in: 1..100) %></td>
    </tr>
    <tr>
      <th><%= f.label(:consult_term_max) %></th>
      <td><%= f.number_field(:consult_term_max, in: 1..100) %></td>
    </tr>
    <tr>
      <th><%= f.label(:consult_duration_min) %></th>
      <td><%= f.number_field(:consult_duration_min, in: 1..240) %></td>
    </tr>
    <tr>
      <th><%= f.label(:consult_duration_max) %></th>
      <td><%= f.number_field(:consult_duration_max, in: 1..240) %></td>
    </tr>
    <tr>
      <th><%= f.label(:consult_reserve_earliest) %></th>
      <td><%= f.number_field(:consult_reserve_earliest, in: 1..365) %></td>
    </tr>
    <tr>
      <th><%= f.label(:consult_reserve_latest) %></th>
      <td><%= f.number_field(:consult_reserve_latest, in: 1..365) %></td>
    </tr>
    <tr>
      <th><%= f.label(:consult_frequency) %></th>
      <td><%= f.text_field(:consult_frequency) %></td>
    </tr>
    <tr>
      <th><%= f.label(:privacy_policy_template) %></th>
      <td><%= f.text_area(:privacy_policy_template) %></td>
    </tr>
    <tr>
      <th><%= f.label(:pricing_strategy) %></th>
      <td><%= f.text_field(:pricing_strategy) %></td>
    </tr>
    <tr>
      <th><%= f.label(:price_min) %></th>
      <td><%= f.number_field(:price_min, in: 1..10000) %></td>
    </tr>
    <tr>
      <th><%= f.label(:price_max) %></th>
      <td><%= f.number_field(:price_max, in: 1..10000) %></td>
    </tr>
    <tr>
      <th><%= f.label(:price_base) %></th>
      <td><%= f.number_field(:price_base, in: 1..10000) %></td>
    </tr>
  </table>
  <div class="form-buttons">
    <%= f.submit("Save Profile") %>
  </div>

<% end %>
