<div class="col-md-3 col-sm-6 instructor-profile-box">
  <%= link_to profile_path(instructor) do %>
    <div class="div-bg">
      <div class="img" style="background-image: url('<%= instructor.page_background%>');">
        <div class="location-new">
          <%#= image_tag "reskin/location-pin.png", class: ''%>
          <h6 class="specialization"><%=InstructorInfo.find_specialization(instructor.specialization_name)%> </h6>
          <span class="usr-location">
            <%= image_tag "reskin/location-green.png", class: ''%>
            <span><%= InstructorInfo.find_university(instructor.university_name)  %></span>
          </span>
        </div>
      </div>

      <div class="user-info">
        <div class="user-image-text">
          <div class="usr-img">
            <!-- <%#= image_tag "reskin/dumy-user.jpg", class: ''%> -->
            <%= image_tag profile_image_of(instructor) %>

            <div class="usr-name"><%= instructor.full_name %></div>
          </div>

          <div class="usr-txt">
            <!-- <h6><%#= instructor.specialization_name%> </h6> -->
            <ul>
              <li class="degree">
                  <%= image_tag "reskin/edu-cap.png", class: ''%>
                  <span><%= InstructorInfo.find_degree(instructor.degree_completed_name)%></span>
              </li>
            </ul>

            <!-- <span class="usr-location">
              <%#= image_tag "reskin/location-green.png", class: ''%>
              <span><%= instructor.university_name %></span>
            </span> -->
          </div>

          <div class="review-comment">
            <div class="reviews">
              <span class="rating" data-score="<%= instructor.user_info.user.get_rating %>"></span>
              <span class="review-count"><%= instructor.user_info.user.reviews.count %></span>
              <%#= image_tag "reskin/stars.png", class: ''%>
              <%= I18n.t "rating.review_cnt" %>
            </div>

            <!-- <a href="#" class="comment"><i class="fa fa-commenting"></i></a> -->
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
<script type="text/javascript">
  $('.rating').raty({readOnly: true, number: 5})
</script>
