<nav class="nav nav-pills nav-justified">
  <%= link_to "个人主页", instructor_info_path, class: "nav-item nav-link"  %>
  <%= link_to "订单管理", '#', class: "nav-item nav-link" %>
  <%= link_to "我的学生", '#', class: "nav-item nav-link" %>
  <%= link_to "个人资料", user_info_path, class: "nav-item nav-link" %>
  <%= link_to "信息通知", '#', class: "nav-item nav-link" %>
  <%= link_to "我的评分", '#', class: "nav-item nav-link" %>
  <%= link_to "账户设置", edit_user_registration_path, class: "nav-item nav-link" %>
</nav>
