<%lang = 'en'%>
<div class="form-wrapper mentor-survey">

  <%= form_with model: @instructor_info, url: instructor_info_path, method: 'post', html: { role: 'form' } do |f| %>

  <div class='multi-step-form' id="step0">
    <%= render partial: 'instructor_infos/steps/step0', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step1">
    <%= render partial: 'instructor_infos/steps/step1', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step2">
    <%= render partial: 'instructor_infos/steps/step2', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step3">
    <%= render partial: 'instructor_infos/steps/step3', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step4">
    <%= render partial: 'instructor_infos/steps/step4', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step5">
    <%= render partial: 'instructor_infos/steps/step5', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step6">
    <%= render partial: 'instructor_infos/steps/step6', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step7">
    <%= render partial: 'instructor_infos/steps/step7', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step8">
    <%= render partial: 'instructor_infos/steps/step8', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step9">
    <%= render partial: 'instructor_infos/steps/step9', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step10">
    <%= render partial: 'instructor_infos/steps/step10', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step11">
    <%= render partial: 'instructor_infos/steps/step11', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step12">
    <%= render partial: 'instructor_infos/steps/step12', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step13">
    <%= render partial: 'instructor_infos/steps/step13', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step14">
    <%= render partial: 'instructor_infos/steps/step14', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step15">
    <%= render partial: 'instructor_infos/steps/step15', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step16">
    <%= render partial: 'instructor_infos/steps/step16', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step17">
    <%= render partial: 'instructor_infos/steps/step17', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step18">
    <%= render partial: 'instructor_infos/steps/step18', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step19">
    <%= render partial: 'instructor_infos/steps/step19', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step20">
    <%= render partial: 'instructor_infos/steps/step20', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form current-step' id="step22">
    <%= render partial: 'instructor_infos/steps/step22', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step23">
    <%= render partial: 'instructor_infos/steps/step23', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step24">
    <%= render partial: 'instructor_infos/steps/step24', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step26">
    <%= render partial: 'instructor_infos/steps/step26', locals: {f: f, lang: lang} %>
  </div>

  <div class='multi-step-form' id="step118">
    <div class="col-md-8">
      <fieldset class="">
        <div class="head-sec">
          <h2 class="main-heading">步骤8：装饰主页</h2>
        </div>
        <div class="question-block">
          <p class="survey-question">为自己的主页想个标题</p>
          <p class="info">吸引人的标题更加展示自己的特点</p>
          <div class="form-group row">
            <%= f.label :page_name, "主页名称", class: 'col-md-12 col-form-label' %>
            <div class="col-md-12">
              <%= f.text_field :page_name, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="survey-btn-row">
          <button type="button" class="btn btn-primary float-right step-navigate main-btn submit">完成</button>
          <button type="button" class="btn btn-default step-navigate" data-target="#step7">上一步</button>
        </div>
      </fieldset>
    </div>
  </div>

  <% end %>
</div>
