<div class="form-wrapper mentor-survey">

  <%= form_with model: @instructor_info, url: instructor_info_path, method: 'post', html: { role: 'form' } do |f| %>

  <div class='multi-step-form current-step' id="step0">
    <div class="col-md-8">
      <fieldset class="row">
        <div class="col-md-12">
          <div class="head-sec">
            <h2 class="main-heading">
              <!-- 在注册成为飞灵导师之前 -->
              Before Becoming a Tutor on Feiling
            </h2>
          </div>
        </div>
        <div class="col-md-6">
          <p>
            <!-- 因为曾经想去改变世界但发现自己的能力实在有限，所以成立飞灵是带有使命感的。我想作为留学生的您和我们团队的成员都抱着一份改善留学申请生态环境的心在做这样一件伟大的事。 -->
            Feiling's founders are Chinese students studying in the U.S. We strive to help Chinese students study abroad. We hope you can join us to help make the application process simpler, clearer, and cheaper.
          </p>
          <p>
            <!-- 不论何时，赚钱都不能与改变一个人的命运相提并论，我们每人多付出的一份力也许就在不经意间改变着这个世界。 -->
            Making tasteful product is the core principle to develop this platform and the main reason to make it work is to make you, my dear tutors to succeed on the platform. The more successful you are, the more meaningful it is for us.
          </p>
          <p>
            <!-- 曾经想去改变世界，但发现原来改变世界就在此时此刻，您愿意一同与我们让留学市场变得更纯洁干净吗？ -->
            We would do our best to give you the best user experience and make money in the easiest way!
          </p>

          <div class="survey-btn-row">
            <button type="button" class="btn btn-primary float-left step-navigate main-btn" data-target="#step1">
              <!-- 我愿意 -->
              I Agree
            </button>
            <button type="button" class="btn btn-default step-navigate float-right" data-target="#">
              <!-- 我拒绝 -->
              Nope
            </button>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class='multi-step-form' id="step1">
    <div class="row">
      <div class="col-md-6 left-panel">
        <fieldset class="">
          <div class="row">
            <div class="col-md-10">
              <div class="head-sec">
                <h2 class="main-heading">Dear <%= current_user.user_info.first_name%>, let's get started on your profile page.</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <div class="question-block">
                <p class="survey-question">Which school are you from? </p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.select :university, InstructorInfo.universities_as_optons, {}, { class: '' } %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.select :specialization, InstructorInfo.spcializations_as_optons, {}, { class: '' } %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.select :degree_completed, InstructorInfo.degree_as_optons, {}, { class: '' } %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="survey-btn-row">
                <button type="button" class="btn btn-default step-navigate pull-right" data-target="#step0">上一步</button>
                <button type="button" class="btn btn-primary step-navigate main-btn pull-left" data-target="#step2">下一步</button>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="col-md-4 right-panel">
        <div class="green-box elepahnt">
          <%= image_tag "registration/step7_elephent.png"%>
          <p>You could earn</p>
          <p class="bold-text">¥ 688</p>
        </div>
      </div>
    </div>
  </div>

  <div class='multi-step-form' id="step2">
    <div class="row">
      <div class="col-md-6 left-panel">
        <fieldset class="">
          <div class="row">
            <div class="col-md-12">
              <div class="question-block">
                <p class="survey-question">What kind of tutor would you want to be ? (mutliple choices)</p>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <%= f.label :consulting_tutor, "Become a consulting tutor?" %>
                      <%= f.select :consulting_tutor, InstructorInfo.tutor_options, {}, { class: '' } %>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <%= f.label :brainstorming_tutor, "Become a brainstorming tutor?" %>
                      <%= f.select :brainstorming_tutor, InstructorInfo.tutor_options, {}, { class: '' } %>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <%= f.label :writing_tutor, "Become a writing tutor?" %>
                      <%= f.select :writing_tutor, InstructorInfo.tutor_options, {}, { class: '' } %>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <%= f.label :visa_consultant, "Become a visa consulting tutor?" %>
                      <%= f.select :visa_consultant, InstructorInfo.tutor_options, {}, { class: '' } %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label>Have you helped others before?</label>
                    <div class="radio-btns">
                      <label><%= f.radio_button :helped_before, true %>Yes, I have helped others before</label>
                    </div>
                    <div class="radio-btns">
                      <label><%= f.radio_button :helped_before, false %>No, this is my first time helping others</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="survey-btn-row">
                <button type="button" class="btn btn-default step-navigate pull-right" data-target="#step1">上一步</button>
                <button type="button" class="btn btn-primary step-navigate main-btn pull-left" data-target="#step3">下一步</button>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class='multi-step-form' id="step11">
    <div class="col-md-8">
      <fieldset class="row">
        <div class="col-md-12">
          <div class="head-sec">
            <h2 class="main-heading">步骤1：基本资料</h2>
          </div>
        </div>
        <div class="question-block">
          <p class="survey-question"> 您打算申请什么类型的导师？</p>
          <div class="form-group">
            <%= f.check_box :is_early_consult %>
            <%= f.label :is_early_consult, "前期咨询导师" %>
          </div>
          <div class="form-group">
            <%= f.check_box :is_brainstorm_consult %>
            <%= f.label :is_brainstorm_consult, "头脑风暴导师" %>
          </div>
          <div class="form-group">
            <%= f.check_box :is_essay_consult %>
            <%= f.label :is_essay_consult, "文书申请导师" %>
          </div>
          <div class="form-group">
            <%= f.check_box :is_visa_consult %>
            <%= f.label :is_visa_consult, "签证资讯导师" %>
          </div>
        </div>
        <div class="survey-btn-row">
          <button type="button" class="btn btn-primary float-right step-navigate main-btn pull-right" data-target="#step2">下一步</button>
          <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step0">上一步</button>
        </div>
      </fieldset>
    </div>
  </div>

  <div class='multi-step-form' id="step12">
    <div class="col-md-8">
      <fieldset class="">
        <div class="head-sec">
          <h2 class="main-heading">步骤2：基本资料</h2>
        </div>
        <div class="question-block">
          <p class="survey-question"> 您最多可以辅导几名学生？</p>
          <div class="form-group">
            <label><%= f.radio_button :consult_capacity_max, "1" %> 1名学生</label>
          </div>
          <div class="form-group">
            <label><%= f.radio_button :consult_capacity_max, "2" %> 2名学生</label>
          </div>
          <div class="form-group">
            <label><%= f.radio_button :consult_capacity_max, "3" %> 3名学生</label>
          </div>
          <div class="form-group">
            <label><%= f.radio_button :consult_capacity_max, "4" %> 4名学生</label>
          </div>
          <div class="form-group">
            <label><%= f.radio_button :consult_capacity_max, "-1" %> 5名学生或以上</label>
          </div>
        </div>
        <hr/>
        <div class="question-block">
          <p class="survey-question">您辅导学生的时间一般在什么时候?</p>
          <% choices = [["上午6","中午12"],["上午9","下午3"],["中午12","下午6"],["下午3","晚上9"],["下午6","凌晨0"],["晚上9","凌晨3"],["凌晨0","上午6"],["凌晨3","上午9"]].map { |x| "#{x[0]}点到#{x[1]}点" } %>
          <div class="form-group row">
            <%= f.label :available_time_slots, "北京时间", class: 'col-md-6 col-form-label' %>
            <div class="col-md-6">
              <%= f.select :available_time_slots, choices, {}, { class: '' } %>
            </div>
          </div>
        </div>
        <hr/>
        <div class="question-block">
          <p class="survey-question">您周末的时间可以使用吗？</p>
          <div class="form-group">
            <label><%= f.radio_button :weekend_availability, "0" %> 可以使用</label>
          </div>
          <div class="form-group">
            <label><%= f.radio_button :weekend_availability, "1" %> 不能使用</label>
          </div>
          <div class="form-group">
            <label><%= f.radio_button :weekend_availability, "2" %> 偶尔可以使用</label>
          </div>
        </div>
        <div class="survey-btn-row">
          <button type="button" class="btn btn-primary float-right step-navigate main-btn" data-target="#step3">下一步</button>
          <button type="button" class="btn btn-default step-navigate" data-target="#step1">上一步</button>
        </div>
      </fieldset>
    </div>
  </div>

  <div class='multi-step-form' id="step3">
    <div class="col-md-8">
      <fieldset class="">
        <div class="head-sec">
          <h2 class="main-heading">步骤3：基本资料</h2>
        </div>
        <div class="question-block">
          <p class="survey-question">您自己申请过几所学校？</p>
          <div class="form-group">
            <label><%= f.radio_button :number_institutes_applied, "1" %> 1所学校</label>
          </div>
          <div class="form-group">
            <label><%= f.radio_button :number_institutes_applied, "2" %> 2所学校</label>
          </div>
          <div class="form-group">
            <label><%= f.radio_button :number_institutes_applied, "3" %> 3所学校</label>
          </div>
          <div class="form-group">
            <label><%= f.radio_button :number_institutes_applied, "4" %> 4所学校</label>
          </div>
          <div class="form-group">
            <label><%= f.radio_button :number_institutes_applied, "-1" %> 5所学校或以上</label>
          </div>
        </div>
        <hr/>
        <div class="question-block">
          <p class="survey-question">录取其中多少所学校？</p>
          <% choices = [["1所学校",1],["2所学校",2],["3所学校",3],["4所学校",4],["全部录取",-1]] %>
          <div class="form-group row">
            <div class="col-md">
              <%= f.select :number_institutes_admitted, choices, {}, { class: '' } %>
            </div>
          </div>
        </div>
        <div class="survey-btn-row">
          <button type="button" class="btn btn-primary float-right step-navigate main-btn" data-target="#step4">下一步</button>
          <button type="button" class="btn btn-default step-navigate" data-target="#step2">上一步</button>
        </div>
      </fieldset>
    </div>
  </div>

  <div class='multi-step-form' id="step4">
    <div class="col-md-8">
      <fieldset class="">
        <div class="head-sec">
          <h2 class="main-heading">步骤4：基本资料</h2>
        </div>
        <div class="question-block">
          <p class="survey-question">您能提供的分享信息有哪些？</p>
          <div class="form-group">
            <%= f.check_box :share_resume %>
            <%= f.label :share_resume, "个人简历" %>
          </div>
          <div class="form-group">
            <%= f.check_box :share_application_essay %>
            <%= f.label :share_application_essay, "申请文书" %>
          </div>
          <div class="form-group">
            <%= f.check_box :share_offer_letter %>
            <%= f.label :share_offer_letter, "录取通知书" %>
          </div>
          <div class="form-group">
            <%= f.check_box :share_gpa %>
            <%= f.label :share_gpa, "GPA" %>
          </div>
          <div class="form-group">
            <%= f.check_box :share_gre_score %>
            <%= f.label :share_gre_score, "GRE成绩" %>
          </div>
          <div class="form-group">
            <%= f.check_box :share_paper %>
            <%= f.label :share_paper, "学术论文" %>
          </div>
          <div class="form-group">
            <%= f.check_box :share_course_essay %>
            <%= f.label :share_course_essay, "课堂文章" %>
          </div>
        </div>
        <div class="survey-btn-row">
          <button type="button" class="btn btn-primary float-right step-navigate main-btn" data-target="#step5">下一步</button>
          <button type="button" class="btn btn-default step-navigate" data-target="#step3">上一步</button>
        </div>
      </fieldset>
    </div>
  </div>

  <div class='multi-step-form' id="step5">
    <div class="col-md-8">
      <fieldset class="">
        <div class="head-sec">
          <h2 class="main-heading">步骤5：基本资料</h2>
        </div>
        <div class="question-block">
          <p class="survey-question">学生可以和您联系的方式？</p>
          <div class="form-group">
            <%= f.check_box :contact_net_phone %>
            <%= f.label :contact_net_phone, "网络电话" %>
          </div>
          <div class="form-group">
            <%= f.check_box :contact_im %>
            <%= f.label :contact_im, "即时通讯软件（微信）" %>
          </div>
          <div class="form-group">
            <%= f.check_box :contact_email %>
            <%= f.label :contact_email, "E-mail" %>
          </div>
          <div class="form-group">
            <%= f.check_box :contact_in_person %>
            <%= f.label :contact_in_person, "当面交流" %>
          </div>
        </div>
        <div class="survey-btn-row">
          <button type="button" class="btn btn-primary float-right step-navigate main-btn" data-target="#step6">下一步</button>
          <button type="button" class="btn btn-default step-navigate" data-target="#step4">上一步</button>
        </div>
      </fieldset>
    </div>
  </div>

  <div class='multi-step-form' id="step6">
    <div class="col-md-8">
      <fieldset class="">
        <div class="head-sec">
          <h2 class="main-heading">步骤6：装饰主页</h2>
        </div>
        <div class="question-block">
          <p class="survey-question">向学生展示一下您美丽的校园</p>
          <p>
            拖拽上传功能还没实现
          </p>
        </div>
        <div class="survey-btn-row">
          <button type="button" class="btn btn-primary float-right step-navigate main-btn" data-target="#step7">下一步</button>
          <button type="button" class="btn btn-default step-navigate" data-target="#step5">上一步</button>
        </div>
      </fieldset>
    </div>
  </div>

  <div class='multi-step-form' id="step7">
    <div class="col-md-8">
      <fieldset class="">
        <div class="head-sec">
          <h2 class="main-heading">步骤7：装饰主页</h2>
        </div>
        <div class="question-block">
          <p class="survey-question">编辑描述</p>
          <div class="form-group row">
            <%= f.label :suggestions_to_students, "简单概要", class: 'col-md-12 col-form-label' %>
            <div class="col-md-12">
              <%= f.text_area :suggestions_to_students, rows: 5, class: 'form-control', placeholder: "请分享一下您对申请学生的建议，自己的心得等..." %>
            </div>
          </div>
        </div>
        <hr/>
        <div class="question-block">
          <p class="survey-question">我最适合申请</p>
          <div class="form-group">
            <%= f.check_box :special_at_top_10 %>
            <%= f.label :special_at_top_10, "美国前10名大学" %>
          </div>
          <div class="form-group">
            <%= f.check_box :special_at_top_20 %>
            <%= f.label :special_at_top_20, "美国前20名大学" %>
          </div>
          <div class="form-group">
            <%= f.check_box :special_at_top_30 %>
            <%= f.label :special_at_top_30, "美国前30名大学" %>
          </div>
        </div>
        <div class="survey-btn-row">
          <button type="button" class="btn btn-primary float-right step-navigate main-btn" data-target="#step8">下一步</button>
          <button type="button" class="btn btn-default step-navigate" data-target="#step6">上一步</button>
        </div>
      </fieldset>
    </div>
  </div>

  <div class='multi-step-form' id="step8">
    <div class="col-md-8">
      <fieldset class="">
        <div class="head-sec">
          <h2 class="main-heading">步骤8：装饰主页</h2>
        </div>
        <div class="question-block">
          <p class="survey-question">为自己的主页想个标题</p>
          <p class="info">吸引人的标题更加展示自己的特点</p>
          <div class="form-group row">
            <%= f.label :page_name, "主页名称", class: 'col-md-12 col-form-label' %>
            <div class="col-md-12">
              <%= f.text_field :page_name, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="survey-btn-row">
          <button type="button" class="btn btn-primary float-right step-navigate main-btn submit">完成</button>
          <button type="button" class="btn btn-default step-navigate" data-target="#step7">上一步</button>
        </div>
      </fieldset>
    </div>
  </div>
  <% end %>
</div>
