<div class="card">
  <div class="card-body">
    <%= form_with model: @instructor_info, url: instructor_info_path, method: 'post', html: { role: 'form' } do |f| %>

      <fieldset class="multi-step-form current-step", id="step0">
        <h2 class="text-green "><strong>在注册成为飞灵导师之前</strong></h2><br>
        <div>
          <p>
            因为曾经想去改变世界但发现自己的能力实在有限，所以成立飞灵是带有使命感的。我想作为留学生的您和我们团队的成员都抱着一份改善留学申请生态环境的心在做这样一件伟大的事。
          </p>
          <p>
            不论何时，赚钱都不能与改变一个人的命运相提并论，我们每人多付出的一份力也许就在不经意间改变着这个世界。
          </p>
          <p>
            曾经想去改变世界，但发现原来改变世界就在此时此刻，您愿意一同与我们让留学市场变得更纯洁干净吗？
          </p>
        </div>
        <%= render partial: 'form_submit', locals: { next_step_text: '我愿意', next_step: '#step1', prev_step_text: '我拒绝', prev_step: '#' } %>
      </fieldset>

      <fieldset class="multi-step-form", id="step1">
        <%= render partial: 'form_title', locals: { title: "步骤1：基本资料", sub_title: "您打算申请什么类型的导师？（多选）" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :is_early_consult, text: "前期咨询导师" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :is_brainstorm_consult, text: "头脑风暴导师" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :is_essay_consult, text: "文书申请导师" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :is_visa_consult, text: "签证资讯导师" } %>
        <%= render partial: 'form_submit', locals: { next_step: '#step2' } %>
      </fieldset>

      <fieldset class="multi-step-form", id="step2">
        <%= render partial: 'form_title', locals: { title: "步骤1：基本资料", sub_title: "您最多可以辅导几名学生？" } %>
        <%= render partial: 'form_radio_button', locals: { f: f, field: :consult_capacity_max, value: "1", text: "1名学生" } %>
        <%= render partial: 'form_radio_button', locals: { f: f, field: :consult_capacity_max, value: "2", text: "2名学生" } %>
        <%= render partial: 'form_radio_button', locals: { f: f, field: :consult_capacity_max, value: "3", text: "3名学生" } %>
        <%= render partial: 'form_radio_button', locals: { f: f, field: :consult_capacity_max, value: "4", text: "4名学生" } %>
        <%= render partial: 'form_radio_button', locals: { f: f, field: :consult_capacity_max, value: "-1", text: "5名学生或以上" } %>
        <br>
        <%= render partial: 'form_title', locals: { sub_title: "您辅导学生的时间一般在什么时候？" } %>
        <% choices = [["上午6","中午12"],["上午9","下午3"],["中午12","下午6"],["下午3","晚上9"],["下午6","凌晨0"],["晚上9","凌晨3"],["凌晨0","上午6"],["凌晨3","上午9"]].map { |x| "#{x[0]}点到#{x[1]}点" } %>
        <%= render partial: 'form_select', locals: { f: f, field: :available_time_slots, choices: choices, text: "北京时间" } %>
        <br>
        <%= render partial: 'form_title', locals: { sub_title: "您周末的时间可以使用吗？" } %>
        <%= render partial: 'form_radio_button', locals: { f: f, field: :weekend_availability, value: 0, text: "可以使用" } %>
        <%= render partial: 'form_radio_button', locals: { f: f, field: :weekend_availability, value: 1, text: "不能使用" } %>
        <%= render partial: 'form_radio_button', locals: { f: f, field: :weekend_availability, value: 2, text: "偶尔可以使用" } %>
        <%= render partial: 'form_submit', locals: { next_step: '#step3', prev_step: '#step1' } %>
      </fieldset>

      <fieldset class="multi-step-form", id="step3">
        <%= render partial: 'form_title', locals: { title: "步骤1：基本资料", sub_title: "您自己申请过几所学校？" } %>
        <%= render partial: 'form_radio_button', locals: { f: f, field: :number_institutes_applied, value: "1", text: "1所学校" } %>
        <%= render partial: 'form_radio_button', locals: { f: f, field: :number_institutes_applied, value: "2", text: "2所学校" } %>
        <%= render partial: 'form_radio_button', locals: { f: f, field: :number_institutes_applied, value: "3", text: "3所学校" } %>
        <%= render partial: 'form_radio_button', locals: { f: f, field: :number_institutes_applied, value: "4", text: "4所学校" } %>
        <%= render partial: 'form_radio_button', locals: { f: f, field: :number_institutes_applied, value: "-1", text: "5所学校或以上" } %>
        <br>
        <%= render partial: 'form_title', locals: { sub_title: "录取其中多少所学校？" } %>
        <% choices = [["1所学校",1],["2所学校",2],["3所学校",3],["4所学校",4],["全部录取",-1]] %>
        <%= render partial: 'form_select', locals: { f: f, field: :number_institutes_admitted, choices: choices } %>
        <%= render partial: 'form_submit', locals: { next_step: '#step4', prev_step: '#step2' } %>
      </fieldset>

      <fieldset class="multi-step-form", id="step4">
        <%= render partial: 'form_title', locals: { title: "步骤1：基本资料", sub_title: "您能提供的分享信息有哪些？" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :share_resume, text: "个人简历" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :share_application_essay, text: "申请文书" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :share_offer_letter, text: "录取通知书" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :share_gpa, text: "GPA" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :share_gre_score, text: "GRE成绩" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :share_paper, text: "学术论文" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :share_course_essay, text: "课堂文章" } %>
        <%= render partial: 'form_submit', locals: { next_step: '#step5', prev_step: '#step3' } %>
      </fieldset>

      <fieldset class="multi-step-form", id="step5">
        <%= render partial: 'form_title', locals: { title: "步骤1：基本资料", sub_title: "学生可以和您联系的方式？" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :contact_net_phone, text: "网络电话" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :contact_im, text: "即时通讯软件（微信）" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :contact_email, text: "E-mail" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :contact_in_person, text: "当面交流" } %>
        <%= render partial: 'form_submit', locals: { next_step: '#step6', prev_step: '#step4' } %>
      </fieldset>

      <fieldset class="multi-step-form", id="step6">
        <%= render partial: 'form_title', locals: { title: "步骤2：装饰主页", sub_title: "向学生展示一下您美丽的校园" } %>
        <p>
          拖拽上传功能还没实现
        </p>
        <%= render partial: 'form_submit', locals: { next_step: '#step7', prev_step: '#step5' } %>
      </fieldset>

      <fieldset class="multi-step-form", id="step7">
        <%= render partial: 'form_title', locals: { title: "步骤2：装饰主页", sub_title: "编辑描述" } %>
        <%= render partial: 'form_text_area', locals: { f: f, field: :suggestions_to_students, text: "简单概要", placeholder: "请分享一下您对申请学生的建议，自己的新的等..." } %>
        <br>
        <h5>我最适合申请</h5>
        <%= render partial: 'form_check_box', locals: { f: f, field: :special_at_top_10, text: "美国前10名大学" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :special_at_top_20, text: "美国前20名大学" } %>
        <%= render partial: 'form_check_box', locals: { f: f, field: :special_at_top_30, text: "美国前30名大学" } %>
        <%= render partial: 'form_submit', locals: { next_step: '#step8', prev_step: '#step6' } %>
      </fieldset>

      <fieldset class="multi-step-form", id="step8">
        <%= render partial: 'form_title', locals: { title: "步骤2：装饰主页", sub_title: "为自己的主页想个标题" } %>
        <p>吸引人的标题更加展示自己的特点</p>
        <%= render partial: 'form_text_field', locals: { f: f, field: :page_name, text: "主页名称" } %>
        <%= render partial: 'form_submit', locals: { next_step_text: '完成', prev_step: '#step6' } %>
      </fieldset>
    <% end %>
  </div>
</div>
