<% in_scope = "#{controller_name}/#{action_name}" == 'instructor_infos/edit' %>
<div class="container">
  <div class="profile-main">
    <div class="header" style="background-image: url('<%= @instructor_info.page_background %>');">
      <%= scoped in_scope, :content_tag, :div, class: "editable background", data: { model: 'instructor_info',
        name: 'page_background', type: 'image', target: 'img', attr: 'src', size: 'large',
        label: 'Change Cover Photo', action: instructor_info_path, method: 'patch' } do %>
          <%= image_tag "reskin/camera-ic.png" %>
      <% end %>
      <div class="img" style="background-image: url('<%= profile_image_of(@instructor_info) %>');">
        <%= scoped in_scope, :content_tag, :div, class: "editable background user-profile",
        data: { model: 'user_info', name: 'avatar', type: 'image', target: 'img', attr: 'src',
          label: 'Change Profile Image', action: user_info_path, method: 'patch' } do %>
          <%= image_tag "reskin/camera-ic.png" %>
          <% end %>
        <!-- <a href="javascript:void(0)" class="camera"><%= image_tag "reskin/camera-ic.png" %></a> -->
      </div>

      <div class="text-center hatcher-center">
        <h2 class="user-name"><%= @instructor_info.specialization_name %></h2>
        <div class="user-skill">Brainstorm Writing rewrite</div>
      </div>
    </div>

    <!-- <div class="profile-summary"> -->
      <div class="profile-summary">
        <%= scoped in_scope, :content_tag, :div, class: 'editable edit-icon', data: { model: 'instructor_info',
          name: 'page_title', type: 'text', target: 'span', label: 'Change Title',
          action: instructor_info_path, method: 'patch' } do %>
          <!-- <span class="font-weight-bold h1"><%#= @instructor_info.page_title || '我的主页' %></span> -->
          <span class="hidden"><%= @instructor_info.page_title %></span>
          <%= image_tag "reskin/edit-green.png" %>
        <% end %>
        <%= @instructor_info.page_title %>
      </div>
      <hr/>
      <div class="profile-summary">
        <%= scoped in_scope, :content_tag, :div, class: 'editable edit-icon', data: { model: 'instructor_info',
          name: 'description', type: 'text', target: 'span', label: 'Change Description',
          action: instructor_info_path, method: 'patch' } do %>
          <!-- <span class="font-weight-bold h1"><%#= @instructor_info.page_title || '我的主页' %></span> -->
          <span class="hidden"><%= @instructor_info.description %></span>
          <%= image_tag "reskin/edit-green.png" %>
        <% end %>
        <%= @instructor_info.description %>
      </div>
    <!-- </div> -->

    <div class="row time-availability">
      <div class="col-sm-6"><img src="images/clock-green.png" alt="">Weekdays: 8:00 - 20:00 (Beijing)</div>
      <div class="col-sm-6">Weekends: 8:00 - 20:00 (Beijing)</div>
    </div>

    <div class="row contact-info">
      <div class="col-sm-4">
        <div class="inner">
          <div class="img-txt">
            <img src="images/phone-green.png" alt="">
            <span>Phone</span>
          </div>

          <h5>110-4445-5504</h5>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="inner">
          <div class="img-txt">
            <img src="images/we-chat.png" alt="">
            <span>WeChat</span>
          </div>

          <h5>Hatcher1119</h5>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="inner">
          <div class="img-txt">
            <img src="images/email-green.png" alt="">
            <span>Email</span>
          </div>

          <h5><%= @instructor_info.email %></h5>
        </div>
      </div>
    </div>

    <div class="row tow-col">
      <div class="col-sm-6">
        <div class="inner">
          <div class="header">
            School information
            <a href="javascript:void(0)" class="edit-icon"><img src="images/edit.png" alt=""></a>
          </div>

          <div class="degree-uni">
            <div class="inner">
              <p>Postgraduate</p>
              <h5>Stanford University</h5>
            </div>

            <div class="inner">
              <p>Undergraduate</p>
              <h5>University of Wisconsin Madison</h5>
            </div>

            <div class="inner">
              <p>High school</p>
              <h5>Dalian Maple Leaf International School</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="inner">
          <div class="header">
            College information
            <p>I can teach the project</p>
            <a href="javascript:void(0)" class="edit-icon"><img src="images/edit.png" alt=""></a>
          </div>

          <div class="small-steps">
            <div class="inner">
              <img src="images/steps/1-small.png" alt="">
              <span>Consultation</span>
            </div>

            <div class="inner">
              <img src="images/steps/2-small.png" alt="">
              <span>Brainstorming</span>
            </div>

            <div class="inner">
              <img src="images/steps/3-small.png" alt="">
              <span>Proofreading</span>
            </div>

            <div class="inner">
              <img src="images/steps/4-small.png" alt="">
              <span>Visa Help</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row tow-col">
      <div class="col-sm-6">
        <div class="inner">
          <div class="header">
            Information sharing
            <a href="javascript:void(0)" class="edit-icon"><img src="images/edit.png" alt=""></a>
          </div>

          <div class="upload-files">
            <div class="inner">
              Resume
              <a href="javascript:void(0)" class="upload-icon"><img src="images/upload-green.png" alt=""></a>
            </div>

            <div class="inner">
              Admission Notice
              <a href="javascript:void(0)" class="upload-icon"><img src="images/upload-green.png" alt=""></a>
            </div>

            <div class="inner">
              Application documents
              <a href="javascript:void(0)" class="upload-icon"><img src="images/upload-green.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="inner">
          <div class="header">
            Successful application college
            <a href="javascript:void(0)" class="edit-icon"><img src="images/edit.png" alt=""></a>
          </div>

          <ul class="applied-university">
            <li>
              Already applied <span>130</span>
            </li>

            <li>
              Success

              <div class="tags">
                <a href="javascript:void(0)" class="tag">New York University</a>
                <a href="javascript:void(0)" class="tag">New York University</a>
                <a href="javascript:void(0)" class="tag">New York University</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row tow-col">
      <div class="col-sm-6">
        <div class="inner">
          <div class="header">
            Your Privacy terms
            <a href="javascript:void(0)" class="edit-icon"><img src="images/edit.png" alt=""></a>
          </div>

          <div class="checkboxes">
            <div class="inner">
              <input type="checkbox" id="privacy-1">
              <label for="privacy-1">Agree to share edited essays</label>
            </div>

            <div class="inner">
              <input type="checkbox" id="privacy-2">
              <label for="privacy-2">Agree to share personal information</label>
            </div>

            <div class="inner">
              <input type="checkbox" id="privacy-3">
              <label for="privacy-3">Agree to meet in person</label>
            </div>

            <div class="inner">
              <input type="checkbox" id="privacy-4">
              <label for="privacy-4">Agree to answer follow up questions for free</label>
            </div>

            <div class="inner">
              <input type="checkbox" id="privacy-5">
              <label for="privacy-5">Agree to ask personal questions</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="inner">
          <div class="header">
            Set a price range. The suggested price will be within your range.
            <a href="javascript:void(0)" class="edit-icon"><img src="images/edit.png" alt=""></a>
          </div>

          <ul class="applied-university">
            <li>
              <ul>
                <li>Already applied <span>130</span></li>
                <li class="info"><img src="images/info-small.png" alt="">Can not be less than 300</li>
              </ul>
            </li>
            <li class="btns">
              <a href="javascript:void(0)" class="btn default-btn">Determine</a>
              <a href="javascript:void(0)" class="btn default-btn grey">Cancel</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
