<% in_scope = "#{controller_name}/#{action_name}" == 'instructor_infos/edit' %>
<div class="mb-4">
  <%= scoped in_scope, :content_tag, :div, class: "editable", data: { model: 'instructor_info',
    name: 'page_background', type: 'image', target: 'img', attr: 'src', size: 'large',
    label: '背景图片', action: instructor_info_path, method: 'patch' } do %>
    <div class="col-12">
      <%= image_tag @instructor_info.page_background, width: '100%', alt: '背景图片' %>
    </div>
  <% end %>
  <div class="d-flex justify-content-center">
    <div class="d-inline-block" style="margin-top:-105px;">
      <%= scoped in_scope, :content_tag, :div, class: "editable",
      data: { model: 'user_info', name: 'avatar', type: 'image', target: 'img', attr: 'src',
        label: '背景图片', action: user_info_path, method: 'patch' } do %>
        <%= image_tag profile_image_of(@instructor_info), alt: '个人头像' %>
        <% end %>
    </div>
  </div>
</div>
<div class="card float-right sticky-top mx-5 pr-0" style="top:100px;width:280px;">
  <div class="bg-dark p-3">
    <span class="text-light">最低 <strong class="h5">￥788</strong> 每小时</span>
  </div>
  <div class="card-body">
    <%= form_with model: @transaction, method: 'post', local: true do |f| %>
      <%= f.hidden_field :instructor_id %>
      <div class="form-group">
        <label>合作日期</label>
        <%= f.date_field :scheduled_date, min: Date.today.to_s(:db), class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>合作项目</label>
        <%= f.select :service, options_for_select(services_of(@instructor_info), nil), {include_blank: true}, class: 'custom-select d-block w-100' %>
      </div>
      <div class="form-group">
        <%= scoped !in_scope, :button_tag, '与我联系', type: 'button', class: 'btn btn-outline-success btn-block modal-toggle',
        data: { target: '#message-box' } %>
      </div>
      <div class="form-group">
        <%= scoped in_scope, :submit_tag, '申请预定', disabled: true, class: 'btn btn-secondary btn-block' %>
        <%= scoped !in_scope, :submit_tag, '申请预定', class: 'btn btn-danger btn-block' %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-11">
    <div>
      <%= scoped in_scope, :content_tag, :div, class: 'editable', data: { model: 'instructor_info',
        name: 'page_title', type: 'text', target: 'span', label: '主页标题',
        action: instructor_info_path, method: 'patch' } do %>
        <span class="font-weight-bold h1"><%= @instructor_info.page_title || '我的主页' %></span>
      <% end %>
      <div class="mb-4">
        <span class="mr-3">文书改写 | 签证咨询</span>
        <span class="mr-3">斯坦福大学</span>
        <span class="mr-3">142 条评论</span>
        <%= image_tag 'five_stars.png', height: '20', class: 'mr-3' %>
      </div>
    </div>
    <div class="mb-4">
      <h5>导师可安排时间</h5>
      <span><strong>工作日: </strong>北京时间早8点到晚8点</span><br>
      <span><strong>周末: </strong>北京时间早9点到晚10点</span>
    </div>
    <div class="mb-4">
      <h5>关于导师</h5>
      <%= scoped in_scope, :content_tag, :div, class: 'editable', data: { model: 'instructor_info',
        name: 'about_me', type: 'paragraph', target: 'p', label: '关于导师',
        action: instructor_info_path, method: 'patch' } do %>
        <p><%= @instructor_info.about_me || '有关导师的信息' %></p>
      <% end %>
    </div>
    <div class="row mb-4">
      <div class="col-4">
        <h5>录取学校</p>
      </div>
      <div class="col-8 d-flex flex-wrap justify-content-around">
        <div class="text-center mx-3 mb-3">
          <%= image_tag 'harvard.png', class: 'd-block' %>
          <span>哈佛大学</span>
        </div>
        <div class="text-center mx-3 mb-3">
          <%= image_tag 'university_of_pennsylvania.png', class: 'd-block' %>
          <span>哈佛大学</span>
        </div>
        <div class="text-center mx-3 mb-3">
          <%= image_tag 'yale.png', class: 'd-block' %>
          <span>哈佛大学</span>
        </div>
        <div class="text-center mx-3 mb-3">
          <%= image_tag 'columbia.png', class: 'd-block' %>
          <span>哈佛大学</span>
        </div>
        <div class="text-center mx-3 mb-3">
          <%= image_tag 'stanford.png', class: 'd-block' %>
          <span>哈佛大学</span>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-4">
        <h5>相关收费</h5>
      </div>
      <div class="col-8">
        <p>
          <span class="mr-2"><%= "文书改写" %> <strong class="h5">￥<%= 888 %></strong> 每小时</span>
          <span><%= "2小时立减10%" %></span>
        </p>
        <p>
          <span class="mr-2"><%= "签证咨询" %> <strong class="h5">￥<%= 788 %></strong> 每小时</span>
          <span><%= "(可多人一起)" %></span>
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-4">
        <h5>最多帮助学生</h5>
      </div>
      <div class="col-8">
        <p>
          <span><%= 3 %> 名学生</span><span class="float-right">剩余位置 <%= 1 %> 名学生</span>
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-4">
        <h5>我擅长申请</h5>
      </div>
      <div class="col-8">
        <p>
          <span><%= "美国前 10 名的本科大学" %></span>
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-4">
        <h5>《隐私条款》</h5>
      </div>
      <div class="col-8">
        <p>
          <span><%= "​​允许分享改好的文书" %></span>
        </p>
        <p>
          <span><%= "​​允许分享个人信息" %></span>
        </p>
        <p>
          <span><%= "​​允许面对面见面" %></span>
        </p>
        <p>
          <span><%= "​允许为学生免费答疑问题" %></span>
        </p>
        <p>
          <span><%= "允许探讨私人问题" %></span>
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-4">
        <h5>预定取消政策</h5>
      </div>
      <div class="col-8">
        <p>
          <span><%= "前10分钟试听环节免费，试听环节结束后费用按小时计算，如若中途取消合作，将退回全额费用的 70%。" %></span>
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-4">
        <h5>个人简历</h5>
      </div>
      <div class="col-8 d-flex flex-wrap justified-content-around">
        <% for resume in @instructor_info.resumes do %>
          <%= scoped in_scope, :content_tag, :div, class: 'clickable hover-btn-container' do %>
            <%= link_to resume.file.url, target: '_blank' do %>
              <%= image_tag 'pdf.png' %>
            <% end %>
            <%= scoped_tree in_scope, :link_to, resume, method: 'delete', class: 'hover-btn pos-tr', data: { confirm: '确定删除简历吗?' } do %>
              <i class="fa fa-times"></i>
            <% end %>
          <% end %>
        <% end %>
        <%= scoped_tree in_scope, :content_tag, :div, class: 'editable align-self-center', data: { model: 'attachment',
          name: 'file', type: 'attachment', file_type: 'resume', label: '个人简历' },
          style: 'border:5px dash;border-radius:5px;' do %>
          <i class="fa fa-plus" style="font-size:3rem;text-align:center;color:#777"></i>
        <% end %>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-4">
        <h5>领英主页</h5>
      </div>
      <div class="col-8 d-flex flex-wrap justified-content-around">
        <%= scoped in_scope, :content_tag, :div, class: 'editable nonclickable', data: { model: 'instructor_info',
          name: 'url_linked_in', type: 'text', target: 'a', attr: 'href', label: '领英主页',
          action: instructor_info_path, method: 'patch' } do %>
          <%= link_to @instructor_info.url_linked_in, target: '_blank' do %>
            <%= image_tag 'linkedin.png' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 mb-3">
        <hr>
      </div>
      <div class="col-6">
        <div class="ml-5">
          <%= render partial: 'timeline', locals: { title: '教育时间轴', events: [
            { time: '2009年9月-2012年7月', text: '大连枫叶国际学校(高中)' },
            { time: '​2012年9月-2016年6月', text: '​威斯康辛大学麦迪逊（本科）' },
            { time: '​2016年9月-2018年7月', text: '斯坦福大学（硕士）' }] } %>
        </div>
      </div>
      <div class="col-6">
        <div class="ml-5">
          <%= render partial: 'timeline', locals: { title: '实习时间轴', events: [
            { time: '2009年9月-2012年7月', text: '亚马逊实习' },
            { time: '​2012年9月-2016年6月', text: '微软实习' },
            { time: '​2016年9月-2018年7月', text: '飞灵教育实习' }] } %>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 mb-2">
        <hr>
        <span class="h5"><%= 142 %> 条评论</span>
        <%= image_tag 'five_stars.png' %>
      </div>
      <div class="col-6">
        <label>申请结果</label>
        <%= image_tag 'five_stars.png', class: 'mr-5 float-right' %>
      </div>
      <div class="col-6">
        <label>服务态度</label>
        <%= image_tag 'five_stars.png', class: 'mr-5 float-right' %>
      </div>
      <div class="col-6">
        <label>沟通交流</label>
        <%= image_tag 'five_stars.png', class: 'mr-5 float-right' %>
      </div>
      <div class="col-6">
        <label>服务效率</label>
        <%= image_tag 'five_stars.png', class: 'mr-5 float-right' %>
      </div>
      <div class="col-6">
        <label>如实描述</label>
        <%= image_tag 'five_stars.png', class: 'mr-5 float-right' %>
      </div>
      <div class="col-6">
        <label>性价比</label>
        <%= image_tag 'five_stars.png', class: 'mr-5 float-right' %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-2">
        <hr>
      </div>
      <div class="col-12 mb-5">
        <%= image_tag 'profile0.png', class: 'mr-4' %>
        <div class="d-inline-block">
          <h5>学生一</h5>
          <h6 class="small"><%= "城市" %></h6>
          <p>
            ​​老师咨询工作做得不错，但是改文书时回复不太及时
          </p>
        </div>
      </div>
      <div class="col-12 mb-5">
        <%= image_tag 'profile1.png', class: 'mr-4' %>
        <div class="d-inline-block">
          <h5>学生二</h5>
          <h6 class="small"><%= "城市" %></h6>
          <p>
            ​​老师咨询工作做得不错，但是改文书时回复不太及时
          </p>
        </div>
      </div>
      <div class="col-12 mb-5">
        <%= image_tag 'profile2.png', class: 'mr-4' %>
        <div class="d-inline-block">
          <h5>学生三</h5>
          <h6 class="small"><%= "城市" %></h6>
          <p>
            ​​老师咨询工作做得不错，但是改文书时回复不太及时
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<% modal = render partial: 'instructor_infos/message_box', locals: { instructor_info: @instructor_info } %>
<%= render partial: 'dialog', locals: { id: 'message-box', title: '与我联系', body: modal, size: 'lg' } %>
