<% in_scope = "#{controller_name}/#{action_name}" == 'instructor_infos/edit' %>
<% lang = "en" %>
<div class="container">
  <div class="profile-main">
    <div class="header" style="background-image: url('<%= @instructor_info.page_background %>');">
      <%= scoped in_scope, :content_tag, :div, class: "editable background", data: { model: 'instructor_info',
        name: 'page_background', type: 'image', target: 'img', attr: 'src', size: 'large',
        label: 'Change Cover Photo', action: instructor_info_path, method: 'patch' } do %>
          <%= image_tag "reskin/camera-ic.png" %>
      <% end %>
      <div class="img" style="background-image: url('<%= profile_image_of(@instructor_info) %>');">
        <%= scoped in_scope, :content_tag, :div, class: "editable background user-profile",
        data: { model: 'user_info', name: 'avatar', type: 'image', target: 'img', attr: 'src',
          label: 'Change Profile Image', action: user_info_path, method: 'patch' } do %>
          <%= image_tag "reskin/camera-ic.png" %>
          <% end %>
        <!-- <a href="javascript:void(0)" class="camera"><%= image_tag "reskin/camera-ic.png" %></a> -->
      </div>

      <div class="text-center hatcher-center">
        <h2 class="user-name"><%= @instructor_info.specialization_name %></h2>
        <div class="user-skill">Brainstorm Writing rewrite</div>
      </div>
    </div>

    <!-- <div class="profile-summary"> -->
      <div class="profile-summary">
        <%= scoped in_scope, :content_tag, :div, class: 'editable edit-icon', data: { model: 'instructor_info',
          name: 'page_title', type: 'text', target: 'span', label: 'Change Title',
          action: instructor_info_path, method: 'patch' } do %>
          <!-- <span class="font-weight-bold h1"><%#= @instructor_info.page_title || '我的主页' %></span> -->
          <span class="hidden"><%= @instructor_info.page_title %></span>
          <%= image_tag "reskin/edit-green.png" %>
        <% end %>
        <%= @instructor_info.page_title %>
      </div>
      <hr/>
      <div class="profile-summary">
        <%= scoped in_scope, :content_tag, :div, class: 'editable edit-icon', data: { model: 'instructor_info',
          name: 'description', type: 'text', target: 'span', label: 'Change Description',
          action: instructor_info_path, method: 'patch' } do %>
          <!-- <span class="font-weight-bold h1"><%#= @instructor_info.page_title || '我的主页' %></span> -->
          <span class="hidden"><%= @instructor_info.description %></span>
          <%= image_tag "reskin/edit-green.png" %>
        <% end %>
        <%= @instructor_info.description %>
      </div>
    <!-- </div> -->

    <!-- <div class="row time-availability">
      <div class="col-sm-6"><img src="images/clock-green.png" alt="">Weekdays: 8:00 - 20:00 (Beijing)</div>
      <div class="col-sm-6">Weekends: 8:00 - 20:00 (Beijing)</div>
    </div> -->

    <div class="row contact-info">
      <div class="col-sm-4">
        <div class="inner">
          <div class="img-txt">
            <img src="images/phone-green.png" alt="">
            <span>Email</span>
          </div>

          <h5><%= @instructor_info.email %></h5>
        </div>
      </div>

      <!-- <div class="col-sm-4">
        <div class="inner">
          <div class="img-txt">
            <img src="images/we-chat.png" alt="">
            <span>WeChat</span>
          </div>

          <h5>Hatcher1119</h5>
        </div>
      </div> -->

      <!-- <div class="col-sm-4">
        <div class="inner">
          <div class="img-txt">
            <img src="images/email-green.png" alt="">
            <span>Email</span>
          </div>

          <h5><%#= @instructor_info.email %></h5>
        </div>
      </div> -->

    </div>

    <%= form_with model: @instructor_info, url: instructor_info_path, method: 'post', html: { role: 'form' } do |f| %>
      <div class="row tow-col">
        <div class="col-sm-6 first-half">
          <div class="inner">
            <div class="header">
              School information
              <!-- <a href="javascript:void(0)" class="edit-icon"> -->
                <!-- <img src="images/edit.png" alt=""> -->
                <%#= image_tag "reskin/edit.png" %>
              <!-- </a> -->
            </div>

            <div class="degree-uni">
              <div class="inner">
                <!-- <p>Change your school?</p> -->
                <%= render partial: 'instructor_infos/steps/shared/which_school', locals: {f: f, lang: lang} %>
              </div>
            </div>
          </div>

          <hr/>

          <div class="inner">
            <div class="header">
              Have you helped others before?
            </div>
          </div>

          <div class="degree-uni">
            <div class="inner">
              <div class="col-md-12">
                <div class="radio-btns custom-checkbox-radios">
                  <%= f.radio_button :helped_before, true, id: 'helped_before_true' %>
                  <label for="helped_before_true">Yes, I have helped others before </label>
                </div>
                <div class="radio-btns custom-checkbox-radios">
                  <%= f.radio_button :helped_before, false, id: 'helped_before_false' %>
                  <label for="helped_before_false">No, this is my first time helping others</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="inner">
            <div class="header">
              Services I can offer
            </div>

            <div class="small-steps custom-checkbox-radios">
              <div class="inner">
                <%= render partial: 'instructor_infos/steps/shared/subject_to_teach', locals: {f: f, lang: lang} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row tow-col">
        <div class="col-sm-6 first-half">
          <div class="inner">
            <div class="header">
              Information sharing
              <!-- <a href="javascript:void(0)" class="edit-icon"><img src="images/edit.png" alt=""></a> -->
            </div>

            <div class="upload-files  check_boxes custom-checkbox-radios">
              <div class="inner">
                <%= render partial: 'instructor_infos/steps/shared/information_sharing', locals: {f: f, lang: lang} %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="inner">
            <div class="header">
              Successful application college
              <!-- <a href="javascript:void(0)" class="edit-icon"><img src="images/edit.png" alt=""></a> -->
            </div>

            <ul class="applied-university">
              <li>
                Already applied <span>130</span>
              </li>

              <li>
                Success

                <div class="tags">
                  <a href="javascript:void(0)" class="tag">New York University</a>
                  <a href="javascript:void(0)" class="tag">New York University</a>
                  <a href="javascript:void(0)" class="tag">New York University</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row tow-col">
        <div class="col-sm-6 first-half">
          <div class="inner">
            <div class="header">
              Your Privacy terms
              <!-- <a href="javascript:void(0)" class="edit-icon"><img src="images/edit.png" alt=""></a> -->
            </div>

            <div class="upload-files  check_boxes custom-checkbox-radios">
              <div class="inner">
                <%= render partial: 'instructor_infos/steps/shared/privacy_terms', locals: {f: f, lang: lang} %>
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-6">
          <div class="inner">
            <div class="header">
              Set a price range. The suggested price will be within your range.
              <!-- <a href="javascript:void(0)" class="edit-icon"><img src="images/edit.png" alt=""></a> -->
            </div>

            <ul class="applied-university">
              <li>
                <ul>
                  <li>Already applied <span>130</span></li>
                  <li class="info">
                    <!-- <img src="images/info-small.png" alt=""> -->
                    Can not be less than 300</li>
                </ul>
              </li>
              <li class="btns">
                <a href="javascript:void(0)" class="btn default-btn">Determine</a>
                <a href="javascript:void(0)" class="btn default-btn grey">Cancel</a>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="row tow-col">
        <div class="col-sm-6 first-half">
          <div class="inner">
            <div class="header">
              What students can know about you
              <!-- <a href="javascript:void(0)" class="edit-icon"><img src="images/edit.png" alt=""></a> -->
            </div>

            <div class="upload-files  check_boxes custom-checkbox-radios">
              <div class="inner">
                <%= render partial: 'instructor_infos/steps/shared/privacy_terms', locals: {f: f, lang: lang} %>
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-6">
          <div class="inner">
            <div class="header">
              Set a price range. The suggested price will be within your range.
              <!-- <a href="javascript:void(0)" class="edit-icon"><img src="images/edit.png" alt=""></a> -->
            </div>

            <ul class="applied-university">
              <li>
                <ul>
                  <li>Already applied <span>130</span></li>
                  <li class="info">
                    <!-- <img src="images/info-small.png" alt=""> -->
                    Can not be less than 300</li>
                </ul>
              </li>
              <li class="btns">
                <a href="javascript:void(0)" class="btn default-btn">Determine</a>
                <a href="javascript:void(0)" class="btn default-btn grey">Cancel</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    <%end%>
  </div>
</div>
