<% in_scope = "#{controller_name}/#{action_name}" == 'instructor_infos/edit' %>
<% lang = I18n.locale %>
<div class="container">
  <div class="profile-main">
    <div class="header" style="background-size: cover;background-image: url('<%= @instructor_info.page_background %>');">
      <%= scoped in_scope, :content_tag, :div, class: "editable background", data: { model: 'instructor_info',
        name: 'page_background', type: 'image', target: 'img', attr: 'src', size: 'large',
        label: 'Change Cover Photo', action: instructor_info_path, method: 'patch' } do %>
          <%= image_tag "reskin/camera-ic.png" %>
      <% end %>
      <div class="img" style="background-image: url('<%= profile_image_of(@instructor_info) %>');">
        <%= scoped in_scope, :content_tag, :div, class: "editable background user-profile",
        data: { model: 'user_info', name: 'avatar', type: 'image', target: 'img', attr: 'src',
          label: 'Change Profile Image', action: user_info_path, method: 'patch' } do %>
          <%= image_tag "reskin/camera-ic.png" %>
          <% end %>
        <!-- <a href="javascript:void(0)" class="camera"><%= image_tag "reskin/camera-ic.png" %></a> -->
      </div>

      <div class="text-center hatcher-center">
        <h2 class="user-name"><%= @instructor_info.specialization_name %></h2>
        <!-- <div class="user-skill">Brainstorm Writing rewrite</div> -->
      </div>
    </div>

    <!-- <div class="profile-summary"> -->
      <div class="profile-summary">
        <%= scoped in_scope, :content_tag, :div, class: 'editable edit-icon', data: { model: 'instructor_info',
          name: 'page_title', type: 'text', target: 'span', label: 'Change Title',
          action: instructor_info_path, method: 'patch' } do %>
          <!-- <span class="font-weight-bold h1"><%#= @instructor_info.page_title || '我的主页' %></span> -->
          <span class="hidden"><%= @instructor_info.page_title %></span>
          <%= image_tag "reskin/edit-green.png" %>
        <% end %>
        <%= @instructor_info.page_title %>
      </div>
      <hr/>
      <div class="profile-summary">
        <%= scoped in_scope, :content_tag, :div, class: 'editable edit-icon', data: { model: 'instructor_info',
          name: 'description', type: 'text', target: 'span', label: 'Change Description',
          action: instructor_info_path, method: 'patch' } do %>
          <!-- <span class="font-weight-bold h1"><%#= @instructor_info.page_title || '我的主页' %></span> -->
          <span class="hidden"><%= @instructor_info.description %></span>
          <%= image_tag "reskin/edit-green.png" %>
        <% end %>
        <%= @instructor_info.description %>
      </div>
    <!-- </div> -->

    <!-- <div class="row time-availability">
      <div class="col-sm-6"><img src="images/clock-green.png" alt="">Weekdays: 8:00 - 20:00 (Beijing)</div>
      <div class="col-sm-6">Weekends: 8:00 - 20:00 (Beijing)</div>
    </div> -->

    <div class="row contact-info">
      <div class="col-sm-4">
        <div class="inner">
          <div class="img-txt">
            <!-- <img src="images/phone-green.png" alt=""> -->
            <span>Email</span>
          </div>

          <h5><%= @instructor_info.email %></h5>
        </div>
      </div>

      <!-- <div class="col-sm-4">
        <div class="inner">
          <div class="img-txt">
            <img src="images/we-chat.png" alt="">
            <span>WeChat</span>
          </div>

          <h5>Hatcher1119</h5>
        </div>
      </div> -->

      <!-- <div class="col-sm-4">
        <div class="inner">
          <div class="img-txt">
            <img src="images/email-green.png" alt="">
            <span>Email</span>
          </div>

          <h5><%#= @instructor_info.email %></h5>
        </div>
      </div> -->

    </div>

    <%= form_with model: @instructor_info, url: instructor_info_path, method: 'patch', html: { role: 'form' } do |f| %>
      <div class="row tow-col">
        <div class="col-sm-6 first-half">
          <div class="inner">
            <div class="header">
              <%= I18n.t("edit_profile.school_info") %>
            </div>

            <div class="degree-uni">
              <div class="inner">
                <!-- <p>Change your school?</p> -->
                <%= render partial: 'instructor_infos/steps/shared/which_school', locals: {f: f, lang: lang} %>
              </div>
            </div>
          </div>

          <hr/>

          <div class="inner">
            <div class="header">
              <%= I18n.t("edit_profile.helped_others") %>
            </div>
          </div>

          <div class="degree-uni">
            <div class="inner">
              <div class="col-md-12">
                <div class="radio-btns custom-checkbox-radios">
                  <%= f.radio_button :helped_before, true, id: 'helped_before_true' %>
                  <label for="helped_before_true"><%= I18n.t("edit_profile.yes_helped") %></label>
                </div>
                <div class="radio-btns custom-checkbox-radios">
                  <%= f.radio_button :helped_before, false, id: 'helped_before_false' %>
                  <label for="helped_before_false"><%= I18n.t("edit_profile.no_helped") %></label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="inner">
            <div class="header">
              <%= I18n.t("edit_profile.services_ican_offer") %>
            </div>

            <div class="small-steps custom-checkbox-radios">
              <div class="inner">
                <%= render partial: 'instructor_infos/steps/shared/subject_to_teach', locals: {f: f, lang: lang} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row tow-col">
        <div class="col-sm-6 first-half">
          <div class="inner">
            <div class="header">
              <%= I18n.t("edit_profile.info_sharing") %>
              <!-- <a href="javascript:void(0)" class="edit-icon"><img src="images/edit.png" alt=""></a> -->
            </div>

            <div class="upload-files  check_boxes custom-checkbox-radios">
              <div class="inner">
                <%= render partial: 'instructor_infos/steps/shared/information_sharing', locals: {f: f, lang: lang} %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="inner">
            <div class="header">
              <%= I18n.t("edit_profile.application_college") %>
            </div>

            <div class="row custom-checkbox-radios">
              <div class="col-md-8">
                <% InstructorInfo.schools_applied_before_options(lang).each_with_index do |option, idx| %>
                  <div class="radio-btns custom-checkbox-radios">
                    <%= f.radio_button :number_institutes_applied, option[1], id: "number_institutes_applied#{idx}" %><label for="<%= "number_institutes_applied#{idx}" %>"> <%= option[0]%></label>
                  </div>
                <%end%>
              </div>
            </div>
          </div>

          <hr/>

          <div class="inner">
            <div class="header">
              <%= I18n.t("edit_profile.application_college") %>
            </div>

            <div class="header">
              <div class="row">
                <div class="col-md-7">
                  <%= f.select :uni_accepted, InstructorInfo.schoools_accepted(lang), {}, { class: 'select2 schools-applied multiple' } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row tow-col">
        <div class="col-sm-6 first-half">
          <div class="inner">
            <div class="header">
              <%= I18n.t("edit_profile.privacy_terms") %>
              <!-- <a href="javascript:void(0)" class="edit-icon"><img src="images/edit.png" alt=""></a> -->
            </div>

            <div class="upload-files  check_boxes custom-checkbox-radios">
              <div class="inner">
                <%= render partial: 'instructor_infos/steps/shared/students_can_know', locals: {f: f, lang: lang} %>
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-6">
          <div class="inner">
            <div class="header">
              <%= I18n.t("edit_profile.set_work_duration") %>
              <!-- <a href="javascript:void(0)" class="edit-icon"><img src="images/edit.png" alt=""></a> -->
            </div>

            <div class="small-steps custom-checkbox-radios">
              <div class="inner">
                <div class="row">
                  <div class="col-md-10 form-group">
                    <%= f.label :min_work_days, I18n.t("edit_profile.min_days_lbl") %>
                    <%= f.number_field :min_work_days, min: 2, max: 30, default: 2, class: '', placeholder: I18n.t("edit_profile.min_days"), id: 'min_days' %>
                  </div>
                  <div class="col-md-10 form-group">
                    <%= f.label :max_work_days, I18n.t("edit_profile.max_days_lbl") %>
                    <%= f.number_field :max_work_days, min: 2, max: 30, default: 2, class: '', placeholder: I18n.t("edit_profile.max_days"), id: 'max_days' %>
                    <!-- <span class="error hidden"> It should be greater than min days.</span> -->
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row tow-col">
        <div class="col-sm-6 first-half">
          <div class="inner">
            <div class="header">
              <%= I18n.t("edit_profile.students_can_know") %>
            </div>

            <div class="upload-files check_boxes custom-checkbox-radios">
              <div class="inner">
                <%= render partial: 'instructor_infos/steps/shared/privacy_terms', locals: {f: f, lang: lang} %>
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-6">
          <div class="inner">
            <div class="header">
              <%= I18n.t("edit_profile.advance_reseration") %>
            </div>
            <div class="small-steps custom-checkbox-radios">
              <div class="inner">
                <div class="row">
                  <div class="col-md-10 form-group">
                    <%= f.label :reserve_advance, I18n.t("edit_profile.set_your_option") %>
                    <%= f.select :reserve_advance, InstructorInfo.reserve_advance_notify_options(lang), {}, { class: 'select2' } %>
                  </div>
                  <div class="col-md-10">
                    <%= f.label :work_frequency, I18n.t("edit_profile.how_often") %>
                    <%= f.select :work_frequency, InstructorInfo.work_freq_notify_options(lang), {}, { class: 'select2' } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row tow-col">
        <div class="col-sm-6 first-half">
          <div class="inner">
            <div class="header">
              <%= I18n.t("edit_profile.other_options") %>
            </div>
            <div class="small-steps custom-checkbox-radios">
              <div class="inner">
                <div class="row">
                  <div class="col-md-10 form-group">
                    <%= f.label :tutor_before, I18n.t("edit_profile.tutor_before") %>
                    <%= f.select :tutor_before, InstructorInfo.tutor_before_options(lang), {}, { class: 'select2' } %>
                  </div>
                  <div class="col-md-10">
                    <%= f.label :max_std_count, I18n.t("edit_profile.std_help_at_a_time") %>
                    <%= f.select :max_std_count, InstructorInfo.max_std_before_options(lang), {}, { class: 'select2' } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="inner">
            <div class="header">
              <%= I18n.t("edit_profile.your_pricing") %>
            </div>

            <div class="degree-uni">
              <div class="inner">
                <div class="col-md-12">

                  <div class="radio-btns custom-checkbox-radios">
                    <%= f.radio_button :recommended_price, true, id: "recommended_price_true" %>
                    <label for="recommended_price_true"> <%= I18n.t("edit_profile.variable_price_range")%> </label>
                  </div>

                  <div class="radio-btns custom-checkbox-radios">
                    <%= f.radio_button :recommended_price, false, id: "recommended_price_false"  %>
                    <label for="recommended_price_false"> <%= I18n.t("edit_profile.fix_price")%> </label>
                  </div>

                </div>
              </div>
            </div>

            <hr/>
            <div class="degree-uni">
              <div class="inner">
                <div class="price-section <%= @instructor_info.recommended_price ? "" : "hidden"%>" id="price-range-fields">
                  <%= render(partial: 'instructor_infos/steps/price/range', locals: {f: f, lang: lang}) %>
                </div>

                <div class="price-section <%= @instructor_info.recommended_price ? "hidden" : ""%>" id="fixed-price-fields">
                  <%= render(partial: 'instructor_infos/steps/price/fix', locals: {f: f, lang: lang}) %>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="form-group submit-btn-row">
        <%= f.submit I18n.t("edit_profile.update_btn"), class: 'btn btn-primary text-right' %>
      </div>
    <%end%>
  </div>
</div>

<script type="text/javascript">
  $("input[name='instructor_info[number_institutes_applied]']").on('change', function(e){
    $( ".select2.schools-applied" ).val(null).trigger('change')
    $( ".select2.schools-applied" ).select2({
      multiple: true,
      placeholder: 'Please select your Universities',
      maximumSelectionLength: parseInt(e.target.value) + 1
    }).trigger('change')
  })
</script>
