<section class="section mentors-wrapper <%= @results.size > 0 ? " grey-section" : ""%>">
  <div class="container">
    <div class="header">
      <% if @results.size > 0%>
        <h1><%= I18n.t("mentors.heading") %></h1>
        <p><%= I18n.t("mentors.desc") %></p>
      <%else%>
        <h1><%= I18n.t("mentors.no_heading") %></h1>
        <p><%= I18n.t("mentors.no_desc") %></p>
        <br/>
        <%= link_to I18n.t("mentors.back_btn"), root_path, class: 'btn btn-default'%>
      <%end%>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label><%=I18n.t("sorting.sort_by")%></label>
          <select class="select2 sort_by">
            <option value="price"><%=I18n.t("rating.price")%></option>
            <option value="rating"><%=I18n.t("rating.rate")%></option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label><%=I18n.t("sorting.order_by")%></label>
          <select class="select2 order_by">
            <option value="asc"><%=I18n.t("sorting.asc")%></option>
            <option value="desc"><%=I18n.t("sorting.desc")%></option>
          </select>
        </div>
      </div>
    </div>

    <div class="row mentors">
      <% @results.each do |instructor|%>
        <%= render partial: 'inst_profile', locals: { instructor: instructor } %>
        <%#= render partial: 'search/inst_profile', locals: { instructor: instructor } %>
          <%#= render partial: 'search/inst_profile', locals: { instructor: instructor } %>
      <%end%>
    </div>

  </div>
</section>
<script type="text/javascript">
  $(document).ready(function() {
    $(".sort_by, .order_by").change(function(){
      service="<%=@service%>;"
      specialization="<%=@specialization%>";
      sort_by = $(".sort_by").find("option:selected")[0].value
      order_by = $(".order_by").find("option:selected")[0].value
      $.ajax({
        type: "get",
        url: "/mentors",
        data: "sort_by="+sort_by+"&order_by="+order_by+"&service="+service+"&specialization="+specialization,
        success: function(res){
          // console.log(res)
          $(".mentors").html($(res).find(".mentors").html())
        }
      })
    })
  })
</script>
