<section class="section mentors-wrapper <%= @results.size > 0 ? " grey-section" : ""%>">
  <div class="container">
    <div class="header">
      <% if @results.size > 0%>
        <h1><%= I18n.t("mentors.heading") %></h1>
        <p><%= I18n.t("mentors.desc") %></p>
      <%else%>
        <h1><%= I18n.t("mentors.no_heading") %></h1>
        <p><%= I18n.t("mentors.no_desc") %></p>
        <br/>
        <%= link_to I18n.t("mentors.back_btn"), root_path, class: 'btn btn-default'%>
      <%end%>
    </div>

    <div class="row mentors">
      <% @results.each do |instructor|%>
        <%= render partial: 'inst_profile', locals: { instructor: instructor } %>
        <%#= render partial: 'search/inst_profile', locals: { instructor: instructor } %>
          <%#= render partial: 'search/inst_profile', locals: { instructor: instructor } %>
      <%end%>
    </div>

  </div>
</section>
