<div class="col-md-4 col-sm-6">
  <%= link_to profile_path(instructor) do %>
    <div class="div-bg">
      <div class="img" style="background-image: url('<%= instructor.page_background%>');">

        <div class="divbg-overlay">
          <div class="location">
            <%= image_tag "homepage/location-pin.png", class: ''%>
            <span><%= instructor.university_name %></span>
          </div>
        </div>
      </div>

      <div class="user-info">
        <div class="user-image-text">
          <div class="usr-img">
            <!-- <%#= image_tag "homepage/dumy-user.jpg", class: ''%> -->
            <%= image_tag profile_image_of(instructor) %>

            <div class="usr-name"><%= instructor.full_name %></div>
          </div>

          <div class="usr-txt">
            <h6><%= instructor.specialization_name%> </h6>
            <ul>
              <li class="degree">
                  <%= image_tag "homepage/edu-cap.png", class: ''%>
                  <span><%= instructor.degree_completed_name%></span>
              </li>
            </ul>

            <span class="usr-location">
              <%= image_tag "homepage/location-small.png", class: ''%>
              <span><%= instructor.university_name %></span>
            </span>
          </div>

          <div class="review-comment">
            <div class="reviews">
              <%= image_tag "homepage/stars.png", class: ''%>
              <span class="review-count">39</span>
              Reviews
            </div>

            <a href="#" class="comment"><i class="fa fa-commenting"></i></a>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
