<div class="">
  <section class="section white-section">
    <div class="container">
      <div class="header">
        <h1><%= I18n.t "homepage.four_steps.title" %></h1>
        <!-- <p>Studying "from 0 to 1" may be skillful; applying "from 1 to N" as long as Feiling is enough</p> -->
      </div>

      <div class="row text-center steps-con">
        <div class="col-sm-3 sec">
          <div class="img-wrp"><%= image_tag "reskin/steps/1.png", class: ''%></div>
          <span class="bottom-bar"></span>
          <h3><%= I18n.t "homepage.four_steps.sec1.title" %></h3>
          <p><%= I18n.t "homepage.four_steps.sec1.description" %></p>
        </div>

        <div class="col-sm-3 sec">
          <!-- <img src="images/steps/2.png" alt=""> -->
          <div class="img-wrp"><%= image_tag "reskin/steps/2.png", class: ''%></div>
          <span class="bottom-bar"></span>
          <h3><%= I18n.t "homepage.four_steps.sec2.title" %></h3>
          <p><%= I18n.t "homepage.four_steps.sec2.description" %></p>
        </div>

        <div class="col-sm-3 sec">
          <!-- <img src="images/steps/3.png" alt=""> -->
          <div class="img-wrp"><%= image_tag "reskin/steps/3.png", class: ''%></div>
          <span class="bottom-bar"></span>
          <h3><%= I18n.t "homepage.four_steps.sec3.title" %></h3>
          <p><%= I18n.t "homepage.four_steps.sec3.description" %></p>
        </div>

        <div class="col-sm-3 sec">
          <div class="img-wrp"><%= image_tag "reskin/steps/4.png", class: ''%></div>
          <span class="bottom-bar"></span>
          <h3><%= I18n.t "homepage.four_steps.sec4.title" %></h3>
          <p><%= I18n.t "homepage.four_steps.sec4.description" %></p>
        </div>
      </div>
    </div>
  </section>

  <section class="section grey-section">
    <div class="container">
      <div class="header">
        <h1><%= I18n.t "homepage.tutor_background.title" %></h1>
        <p><%= I18n.t "homepage.tutor_background.description" %></p>
      </div>
      <div id="carouselExampleIndicators_instructor" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <% if @results[0].present? %>
            <div class="carousel-item active">
              <div class="row w-100" alt="First slide">
                <div class="col-md-4">
                   <% if @results[0].present? %>
                     <%= render partial: 'inst_profile', locals: { instructor: @results[0]} %>
                   <% end %>
                </div>
                <div class="col-md-4">
                  <% if @results[1].present? %>
                    <%= render partial: 'inst_profile', locals: { instructor: @results[1]} %>
                  <% end %>
                </div>
                <div class="col-md-4">
                  <% if @results[2].present? %>
                    <%= render partial: 'inst_profile', locals: { instructor: @results[2]} %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
            <% if @results[3].present? %>
            <div class="carousel-item">
              <div class="row w-100" alt="Second slide">
                <div class="col-md-4">
                   <% if @results[3].present? %>
                     <%= render partial: 'inst_profile', locals: { instructor: @results[3]} %>
                   <% end %>
                </div>
                <div class="col-md-4">
                  <% if @results[4].present? %>
                    <%= render partial: 'inst_profile', locals: { instructor: @results[4]} %>
                  <% end %>
                </div>
                <div class="col-md-4">
                  <% if @results[5].present? %>
                    <%= render partial: 'inst_profile', locals: { instructor: @results[5]} %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
            <% if @results[6].present? %>
            <div class="carousel-item">
              <div class="row w-100" alt="Third slide">
                <div class="col-md-4">
                   <% if @results[6].present? %>
                     <%= render partial: 'inst_profile', locals: { instructor: @results[6]} %>
                   <% end %>
                </div>
                <div class="col-md-4">
                  <% if @results[7].present? %>
                    <%= render partial: 'inst_profile', locals: { instructor: @results[7]} %>
                  <% end %>
                </div>
                <div class="col-md-4">
                  <% if @results[8].present? %>
                    <%= render partial: 'inst_profile', locals: { instructor: @results[8]} %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
            <% if @results[9].present? %>
            <div class="carousel-item">
              <div class="row w-100" alt="Fourth slide">
                <div class="col-md-4">
                   <% if @results[9].present? %>
                     <%= render partial: 'inst_profile', locals: { instructor: @results[9]} %>
                   <% end %>
                </div>
                <div class="col-md-4">
                  <% if @results[10].present? %>
                    <%= render partial: 'inst_profile', locals: { instructor: @results[10]} %>
                  <% end %>
                </div>
                <div class="col-md-4">
                  <% if @results[11].present? %>
                    <%= render partial: 'inst_profile', locals: { instructor: @results[11]} %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators_instructor" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators_instructor" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <!-- <div class="load-more text-center">
        <a href="/mentors" class="btn default-btn empty">More</a>
      </div> -->
    </div>
  </section>

  <section class="section white-section">
    <div class="container">
      <div class="header">
        <h1><%= I18n.t "homepage.tutor_reviews.title" %></h1>
        <p><%= I18n.t "homepage.tutor_reviews.description" %></p>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% if @tutor_reviews[0].present? %>
          <div class="carousel-item active">
            <div class="row w-100" alt="First slide">
              <div class="col-md-4">
                 <% if @tutor_reviews[0].present? %>
                   <%= render partial: 'review_box', locals: { r: @tutor_reviews[0] } %>
                 <% end %>
              </div>
              <div class="col-md-4">
                <% if @tutor_reviews[1].present? %>
                  <%= render partial: 'review_box', locals: { r: @tutor_reviews[1] } %>
                <% end %>
              </div>
              <div class="col-md-4">
                <% if @tutor_reviews[2].present? %>
                  <%= render partial: 'review_box', locals: { r: @tutor_reviews[2] } %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
          <% if @tutor_reviews[3].present? %>
          <div class="carousel-item">
            <div class="row w-100" alt="Second slide">
              <div class="col-md-4">
                 <% if @tutor_reviews[3].present? %>
                   <%= render partial: 'review_box', locals: { r: @tutor_reviews[3] } %>
                 <% end %>
              </div>
              <div class="col-md-4">
                <% if @tutor_reviews[4].present? %>
                  <%= render partial: 'review_box', locals: { r: @tutor_reviews[4] } %>
                <% end %>
              </div>
              <div class="col-md-4">
                <% if @tutor_reviews[5].present? %>
                  <%= render partial: 'review_box', locals: { r: @tutor_reviews[5] } %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
          <% if @tutor_reviews[6].present? %>
          <div class="carousel-item">
            <div class="row w-100" alt="Third slide">
              <div class="col-md-4">
                 <% if @tutor_reviews[6].present? %>
                   <%= render partial: 'review_box', locals: { r: @tutor_reviews[6] } %>
                 <% end %>
              </div>
              <div class="col-md-4">
                <% if @tutor_reviews[7].present? %>
                  <%= render partial: 'review_box', locals: { r: @tutor_reviews[7] } %>
                <% end %>
              </div>
              <div class="col-md-4">
                <% if @tutor_reviews[8].present? %>
                  <%= render partial: 'review_box', locals: { r: @tutor_reviews[8] } %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
          <% if @tutor_reviews[9].present? %>
          <div class="carousel-item">
            <div class="row w-100" alt="Fourth slide">
              <div class="col-md-4">
                 <% if @tutor_reviews[9].present? %>
                   <%= render partial: 'review_box', locals: { r: @tutor_reviews[9] } %>
                 <% end %>
              </div>
              <div class="col-md-4">
                <% if @tutor_reviews[10].present? %>
                  <%= render partial: 'review_box', locals: { r: @tutor_reviews[10] } %>
                <% end %>
              </div>
              <div class="col-md-4">
                <% if @tutor_reviews[11].present? %>
                  <%= render partial: 'review_box', locals: { r: @tutor_reviews[11] } %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <!-- <div class="load-more text-center">
        <a href="#" class="btn default-btn">More</a>
      </div> -->
    </div>
  </section>

  <section class="section grey-section">
    <div class="container">
      <div class="header">
        <h1><%= I18n.t "homepage.advantages.title" %></h1>
        <p><%= I18n.t "homepage.advantages.description" %></p>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="advantages one">
            <div class="header">
              <div class="img freelance">
                <%= image_tag "reskin/advantage/1.png" , class: 'grey' %>
                <%= image_tag "reskin/advantage/1-green.png" , class: 'green' %>
              </div>
              <h5 class="text-center"><%= I18n.t "homepage.advantages.sec1.title" %></h5>
            </div>

            <div class="body">
              <%= I18n.t "homepage.advantages.sec1.text" %>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="advantages two">
            <div class="header">
              <div class="img price">
                <%= image_tag "reskin/advantage/2.png" , class: 'grey' %>
                <%= image_tag "reskin/advantage/2-green.png" , class: 'green' %>
              </div>
              <h5 class="text-center"><%= I18n.t "homepage.advantages.sec2.title" %></h5>
            </div>

            <div class="body">
              <%= I18n.t "homepage.advantages.sec2.text" %>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="advantages three">
            <div class="header">
              <div class="img quality">
                <%= image_tag "reskin/advantage/3.png" , class: 'grey' %>
                <%= image_tag "reskin/advantage/3-green.png" , class: 'green' %>
              </div>
              <h5 class="text-center"><%= I18n.t "homepage.advantages.sec3.title" %></h5>
            </div>

            <div class="body">
              <%= I18n.t "homepage.advantages.sec3.text" %>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="load-more text-center">
        <a href="#" class="btn default-btn">More</a>
      </div> -->
    </div>
  </section>

  <div class="footer-top"  style="height: 470px; background-size: cover; background: url('<%= asset_url("reskin/footer-top.jpg")%>');background-size: cover;">
    <!-- <img src="images/footer-top.jpg" alt=""> -->
    <%#= image_tag "reskin/footer-top.jpg"%>


    <div class="footer-overlay">
      <div class="overlay-txt">
        <h1><%= I18n.t "homepage.expert.title" %></h1>
        <p><%= I18n.t "homepage.expert.description" %></p>

        <a href="javascript:void(0)">
          <%= image_tag "reskin/video_ic.png", class: 'video_open', 'data-toggle'=>"modal", 'data-target'=>"#myModal"%>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="max-width:740px">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> -->
      <div class="modal-body">
        <iframe id="videoModal" width="705" height="500" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeBtn"><%=I18n.t("homepage.video.close_button")%></button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.rating').raty('destroy')
  $('.rating').raty({readOnly: true})
  $(function(){
  $('.close').click(function(){
    $('iframe').attr('src', $('iframe').attr('src'));
  });
});
</script>
