<div class="">
  <section class="section white-section">
    <div class="container">
      <div class="header">
        <h1>Four easy steps</h1>
        <!-- <p>Studying "from 0 to 1" may be skillful; applying "from 1 to N" as long as Feiling is enough</p> -->
      </div>

      <div class="row text-center steps-con">
        <div class="col-sm-3">
          <%= image_tag "reskin/steps/1.png", class: ''%>
          <h3>Consultation</h3>
          <p>Professional colleagues to share experience</p>
        </div>

        <div class="col-sm-3">
          <!-- <img src="images/steps/2.png" alt=""> -->
          <%= image_tag "reskin/steps/2.png", class: ''%>
          <h3>Brainstroming</h3>
          <p>Free association, finalize the theme</p>
        </div>

        <div class="col-sm-3">
          <!-- <img src="images/steps/3.png" alt=""> -->
          <%= image_tag "reskin/steps/3.png", class: ''%>
          <h3>Proofreading</h3>
          <p>Repeatedly revised until satisfied</p>
        </div>

        <div class="col-sm-3">
          <!-- <img src="images/steps/4.png" alt=""> -->
          <%= image_tag "reskin/steps/4.png", class: ''%>
          <h3>Visa Help</h3>
          <p>Simulation training, guaranteed to pass</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section grey-section">
    <div class="container">
      <div class="header">
        <h1>Tutor Background</h1>
        <p>Star tutors recommended to you by platform due to their high ratings</p>
      </div>

      <div class="row">
        <% @results.each do |instructor|%>
          <%= render partial: 'inst_profile', locals: { instructor: instructor } %>
        <%end%>
      </div>

      <div class="load-more text-center">
        <a href="/mentors" class="btn default-btn empty">More</a>
      </div>
    </div>
  </section>

  <section class="section white-section">
    <div class="container">
      <div class="header">
        <h1>Tutor Reviews</h1>
        <p>Star tutors recommended to you by platform due to their high ratings</p>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="without-bg-con">
            <div class="div-bg without-img-bg">
              <h4>Finance Program Consulation</h4>

              <div class="user-image-text user-right">
                <div class="usr-img">
                  <!-- <img src="images/dumy-user.jpg" alt=""> -->
                  <%= image_tag "reskin/dumy-user.jpg", class: ''%>
                </div>

                <div class="usr-txt">
                  <p>To Mentor: Delia</p>
                  <ul>
                    <li>
                      <a href="#" class="edu-cap">Brainstrom Writing rewrite</a>
                    </li>
                  </ul>

                  <a class="usr-location"><span>Stanford</span></a>
                </div>
              </div>

              <p>HongSu is really awesome! He is professional, authentic and passionate about the application process. Highly recommended!</p>

              <div class="review-comment text-right">
                <div class="reviews">
                  <!-- <img src="images/stars.png" alt=""> -->
                  <%= image_tag "reskin/stars.png", class: ''%>
                  <span class="review-count">39</span>
                  Reviews
                </div>
              </div>
            </div>

            <div class="user-time">
              <div class="usr-img">
                <!-- <img src="images/dumy-user.jpg" alt=""> -->
                <%= image_tag "reskin/dumy-user.jpg", class: ''%>
              </div>

              <div class="usr-txt">
                <div class="usr-name">Tina You</div>
                <div class="date">2017-03-27 09:81:24</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="without-bg-con">
            <div class="div-bg without-img-bg">
              <h4>Finance Program Consulation</h4>

              <div class="user-image-text user-right">
                <div class="usr-img">
                  <!-- <img src="images/dumy-user.jpg" alt=""> -->
                  <%= image_tag "reskin/dumy-user.jpg", class: ''%>
                </div>

                <div class="usr-txt">
                  <p>To Mentor: Delia</p>
                  <ul>
                    <li>
                      <a href="#" class="edu-cap">Brainstrom Writing rewrite</a>
                    </li>
                  </ul>

                  <a class="usr-location"><span>Stanford</span></a>
                </div>
              </div>

              <p>HongSu is really awesome! He is professional, authentic and passionate about the application process. Highly recommended!</p>

              <div class="review-comment text-right">
                <div class="reviews">
                  <!-- <img src="images/stars.png" alt=""> -->
                  <%= image_tag "reskin/stars.png", class: ''%>
                  <span class="review-count">39</span>
                  Reviews
                </div>
              </div>
            </div>

            <div class="user-time">
              <div class="usr-img">
                <!-- <img src="images/dumy-user.jpg" alt=""> -->
                <%= image_tag "reskin/dumy-user.jpg", class: ''%>
              </div>

              <div class="usr-txt">
                <div class="usr-name">Tina You</div>
                <div class="date">2017-03-27 09:81:24</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="without-bg-con">
            <div class="div-bg without-img-bg">
              <h4>Finance Program Consulation</h4>

              <div class="user-image-text user-right">
                <div class="usr-img">
                  <!-- <img src="images/dumy-user.jpg" alt=""> -->
                  <%= image_tag "reskin/dumy-user.jpg", class: ''%>
                </div>

                <div class="usr-txt">
                  <p>To Mentor: Delia</p>
                  <ul>
                    <li>
                      <a href="#" class="edu-cap">Brainstrom Writing rewrite</a>
                    </li>
                  </ul>

                  <a class="usr-location"><span>Stanford</span></a>
                </div>
              </div>

              <p>HongSu is really awesome! He is professional, authentic and passionate about the application process. Highly recommended!</p>

              <div class="review-comment text-right">
                <div class="reviews">
                  <!-- <img src="images/stars.png" alt=""> -->
                  <%= image_tag "reskin/stars.png", class: ''%>
                  <span class="review-count">39</span>
                  Reviews
                </div>
              </div>
            </div>

            <div class="user-time">
              <div class="usr-img">
                <!-- <img src="images/dumy-user.jpg" alt=""> -->
                <%= image_tag "reskin/dumy-user.jpg", class: ''%>
              </div>

              <div class="usr-txt">
                <div class="usr-name">Tina You</div>
                <div class="date">2017-03-27 09:81:24</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="load-more text-center">
        <a href="#" class="btn default-btn">More</a>
      </div>
    </div>
  </section>

  <section class="section grey-section">
    <div class="container">
      <div class="header">
        <h1>Advantage</h1>
        <p>Star tutors recommended to you by platform due to their high ratings</p>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="advantages">
            <div class="header">
              <div class="img freelance"></div>
              <h5>Why freelancer</h5>
            </div>

            <div class="body">
              Lowest price is due to the value proposition of our company.Our vision is to let freelancers work on our platform and give their best service to the students. Because of different business model, we are convinced this would be the lowest price for the best quality.
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="advantages">
            <div class="header">
              <div class="img price"></div>
              <h5>Lowest Price</h5>
            </div>

            <div class="body">
              Lowest price is due to the value proposition of our company.Our vision is to let freelancers work on our platform and give their best service to the students. Because of different business model, we are convinced this would be the lowest price for the best quality.
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="advantages">
            <div class="header">
              <div class="img quality"></div>
              <h5>Best quality</h5>
            </div>

            <div class="body">
              Lowest price is due to the value proposition of our company.Our vision is to let freelancers work on our platform and give their best service to the students. Because of different business model, we are convinced this would be the lowest price for the best quality.
            </div>
          </div>
        </div>
      </div>

      <div class="load-more text-center">
        <a href="#" class="btn default-btn">More</a>
      </div>
    </div>
  </section>

  <div class="footer-top">
    <!-- <img src="images/footer-top.jpg" alt=""> -->
    <%= image_tag "reskin/footer-top.jpg"%>


    <div class="footer-overlay">
      <div class="overlay-txt">
        <h1>Expert Admissions Advice At Your Fingertips</h1>
        <p>Expert Admissions Advice At Your Fingertips</p>

        <a href="#">
          <!-- <img src="images/video_ic.png" alt=""> -->
          <%= image_tag "reskin/video_ic.png", class: ''%>
        </a>
      </div>
    </div>
  </div>
</div>
