<div class="">
  <section class="section white-section">
    <div class="container">
      <div class="header">
        <h1><%= I18n.t "homepage.four_steps.title" %></h1>
        <!-- <p>Studying "from 0 to 1" may be skillful; applying "from 1 to N" as long as Feiling is enough</p> -->
      </div>

      <div class="row text-center steps-con">
        <div class="col-sm-3 sec">
          <div class="img-wrp"><%= image_tag "reskin/steps/1.png", class: ''%></div>
          <span class="bottom-bar"></span>
          <h3><%= I18n.t "homepage.four_steps.sec1.title" %></h3>
          <p><%= I18n.t "homepage.four_steps.sec1.description" %></p>
        </div>

        <div class="col-sm-3 sec">
          <!-- <img src="images/steps/2.png" alt=""> -->
          <div class="img-wrp"><%= image_tag "reskin/steps/2.png", class: ''%></div>
          <span class="bottom-bar"></span>
          <h3><%= I18n.t "homepage.four_steps.sec2.title" %></h3>
          <p><%= I18n.t "homepage.four_steps.sec2.description" %></p>
        </div>

        <div class="col-sm-3 sec">
          <!-- <img src="images/steps/3.png" alt=""> -->
          <div class="img-wrp"><%= image_tag "reskin/steps/3.png", class: ''%></div>
          <span class="bottom-bar"></span>
          <h3><%= I18n.t "homepage.four_steps.sec3.title" %></h3>
          <p><%= I18n.t "homepage.four_steps.sec3.description" %></p>
        </div>

        <div class="col-sm-3 sec">
          <div class="img-wrp"><%= image_tag "reskin/steps/4.png", class: ''%></div>
          <span class="bottom-bar"></span>
          <h3><%= I18n.t "homepage.four_steps.sec4.title" %></h3>
          <p><%= I18n.t "homepage.four_steps.sec4.description" %></p>
        </div>
      </div>
    </div>
  </section>

  <section class="section grey-section">
    <div class="container">
      <div class="header">
        <h1><%= I18n.t "homepage.tutor_background.title" %></h1>
        <p><%= I18n.t "homepage.tutor_background.description" %></p>
      </div>

      <div class="row">
        <% @results.each do |instructor|%>
          <%= render partial: 'inst_profile', locals: { instructor: instructor } %>
        <%end%>
      </div>

      <!-- <div class="load-more text-center">
        <a href="/mentors" class="btn default-btn empty">More</a>
      </div> -->
    </div>
  </section>

  <section class="section white-section">
    <div class="container">
      <div class="header">
        <h1><%= I18n.t "homepage.tutor_reviews.title" %></h1>
        <p><%= I18n.t "homepage.tutor_reviews.description" %></p>
      </div>

      <div class="row">
        <% @tutor_reviews.each do |r| %>
          <div class="col-md-4 col-sm-6">
            <div class="without-bg-con">
              <div class="div-bg without-img-bg">
                <h4><%= r.user.user_info.full_name %><%#= I18n.t "homepage.tutor_reviews.sec1.title" %></h4>

                <div class="user-image-text user-right">
                  <div class="usr-img">
                    <!-- <img src="images/dumy-user.jpg" alt=""> -->
                    <%= image_tag profile_image_of(r.user), class: ''%>
                  </div>

                  <div class="usr-txt">
                    <p><%= I18n.t "homepage.tutor_reviews.sec1.to_mentor" %></p>
                    <ul>
                      <li>
                        <a href="#" class="edu-cap"><%= I18n.t "homepage.tutor_reviews.sec1.degree" %></a>
                      </li>
                    </ul>

                    <a class="usr-location"><span><%= I18n.t "homepage.tutor_reviews.sec1.uni" %></span></a>
                  </div>
                </div>

                <p><%= r.review_text %><%#= I18n.t "homepage.tutor_reviews.sec1.text" %></p>

                <div class="review-comment text-right">
                  <div class="reviews">
                    <!-- <img src="images/stars.png" alt=""> -->
                    <span class="rating" data-score="<%= r.user.get_rating %>"></span>
                    <%#= image_tag "reskin/stars.png", class: ''%>
                    <span class="review-count"><%= r.user.reviews.count %></span>
                    <%= I18n.t "homepage.tutor_reviews.sec1.reviews" %>
                  </div>
                </div>
              </div>

              <div class="user-time">
                <div class="usr-img">
                  <!-- <img src="images/dumy-user.jpg" alt=""> -->
                  <%= image_tag r.reviewer_image.nil? ? "" : r.reviewer_image, class: ''%>
                </div>

                <div class="usr-txt">
                  <div class="usr-name"><%= r.reviewer_name %></div>
                  <div class="date"><%= r.created_at.strftime("%Y-%m-%d %T") %></div>
                </div>
              </div>
            </div>
          </div>
        <%end%>
<%
=begin%>
        <div class="col-md-4 col-sm-6">
          <div class="without-bg-con">
            <div class="div-bg without-img-bg">
              <h4><%= I18n.t "homepage.tutor_reviews.sec2.title" %></h4>

              <div class="user-image-text user-right">
                <div class="usr-img">
                  <!-- <img src="images/dumy-user.jpg" alt=""> -->
                  <%= image_tag "reskin/dumy-user.jpg", class: ''%>
                </div>

                <div class="usr-txt">
                  <p><%= I18n.t "homepage.tutor_reviews.sec2.to_mentor" %></p>
                  <ul>
                    <li>
                      <a href="#" class="edu-cap"><%= I18n.t "homepage.tutor_reviews.sec2.degree" %></a>
                    </li>
                  </ul>

                  <a class="usr-location"><span><%= I18n.t "homepage.tutor_reviews.sec2.uni" %></span></a>
                </div>
              </div>

              <p><%= I18n.t "homepage.tutor_reviews.sec2.text" %></p>

              <div class="review-comment text-right">
                <div class="reviews">
                  <!-- <img src="images/stars.png" alt=""> -->
                  <%= image_tag "reskin/stars.png", class: ''%>
                  <span class="review-count">39</span>
                  <%= I18n.t "homepage.tutor_reviews.sec2.reviews" %>
                </div>
              </div>
            </div>

            <div class="user-time">
              <div class="usr-img">
                <!-- <img src="images/dumy-user.jpg" alt=""> -->
                <%= image_tag "reskin/dumy-user.jpg", class: ''%>
              </div>

              <div class="usr-txt">
                <div class="usr-name">Tina You</div>
                <div class="date">2017-03-27 09:81:24</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="without-bg-con">
            <div class="div-bg without-img-bg">
              <h4><%= I18n.t "homepage.tutor_reviews.sec3.title" %></h4>

              <div class="user-image-text user-right">
                <div class="usr-img">
                  <!-- <img src="images/dumy-user.jpg" alt=""> -->
                  <%= image_tag "reskin/dumy-user.jpg", class: ''%>
                </div>

                <div class="usr-txt">
                  <p><%= I18n.t "homepage.tutor_reviews.sec3.to_mentor" %></p>
                  <ul>
                    <li>
                      <a href="#" class="edu-cap"><%= I18n.t "homepage.tutor_reviews.sec3.degree" %></a>
                    </li>
                  </ul>

                  <a class="usr-location"><span><%= I18n.t "homepage.tutor_reviews.sec3.uni" %></span></a>
                </div>
              </div>

              <p><%= I18n.t "homepage.tutor_reviews.sec3.text" %></p>

              <div class="review-comment text-right">
                <div class="reviews">
                  <!-- <img src="images/stars.png" alt=""> -->
                  <%= image_tag "reskin/stars.png", class: ''%>
                  <span class="review-count">39</span>
                  <%= I18n.t "homepage.tutor_reviews.sec3.reviews" %>
                </div>
              </div>
            </div>

            <div class="user-time">
              <div class="usr-img">
                <!-- <img src="images/dumy-user.jpg" alt=""> -->
                <%= image_tag "reskin/dumy-user.jpg", class: ''%>
              </div>

              <div class="usr-txt">
                <div class="usr-name">Tina You</div>
                <div class="date">2017-03-27 09:81:24</div>
              </div>
            </div>
          </div>
        </div>
<%
=end%>
      </div>

      <!-- <div class="load-more text-center">
        <a href="#" class="btn default-btn">More</a>
      </div> -->
    </div>
  </section>

  <section class="section grey-section">
    <div class="container">
      <div class="header">
        <h1><%= I18n.t "homepage.advantages.title" %></h1>
        <p><%= I18n.t "homepage.advantages.description" %></p>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="advantages one">
            <div class="header">
              <div class="img freelance">
                <%= image_tag "reskin/advantage/1.png" , class: 'grey' %>
                <%= image_tag "reskin/advantage/1-green.png" , class: 'green' %>
              </div>
              <h5><%= I18n.t "homepage.advantages.sec1.title" %></h5>
            </div>

            <div class="body">
              <%= I18n.t "homepage.advantages.sec1.text" %>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="advantages two">
            <div class="header">
              <div class="img price">
                <%= image_tag "reskin/advantage/2.png" , class: 'grey' %>
                <%= image_tag "reskin/advantage/2-green.png" , class: 'green' %>
              </div>
              <h5><%= I18n.t "homepage.advantages.sec2.title" %></h5>
            </div>

            <div class="body">
              <%= I18n.t "homepage.advantages.sec2.text" %>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="advantages three">
            <div class="header">
              <div class="img quality">
                <%= image_tag "reskin/advantage/3.png" , class: 'grey' %>
                <%= image_tag "reskin/advantage/3-green.png" , class: 'green' %>
              </div>
              <h5><%= I18n.t "homepage.advantages.sec3.title" %></h5>
            </div>

            <div class="body">
              <%= I18n.t "homepage.advantages.sec3.text" %>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="load-more text-center">
        <a href="#" class="btn default-btn">More</a>
      </div> -->
    </div>
  </section>

  <div class="footer-top"  style="height: 470px; background-size: cover; background: url('<%= asset_url("reskin/footer-top.jpg")%>');background-size: cover;">
    <!-- <img src="images/footer-top.jpg" alt=""> -->
    <%#= image_tag "reskin/footer-top.jpg"%>


    <div class="footer-overlay">
      <div class="overlay-txt">
        <h1><%= I18n.t "homepage.expert.title" %></h1>
        <p><%= I18n.t "homepage.expert.description" %></p>

        <a href="javascript:void(0)">
          <%= image_tag "reskin/video_ic.png", class: 'video_open', 'data-toggle'=>"modal", 'data-target'=>"#myModal"%>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="max-width:740px">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> -->
      <div class="modal-body">
        <iframe id="videoModal" width="705" height="500" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeBtn"><%=I18n.t("homepage.video.close_button")%></button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.rating').raty({readOnly: true})
  $(function(){
  $('.close').click(function(){
    $('iframe').attr('src', $('iframe').attr('src'));
  });
});
</script>
