<%= form_for(user_info, url: user_info_path, method: method, html: { multipart: true }) do |f| %>
  <%= error_messages_for(f.object) %>
  <table summary="User information fields">
    <tr>
      <th><%= f.label(:avatar) %></th>
      <td>
        <%= image_tag(user_info.avatar_url) if user_info.avatar? %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
      </td>
    <tr>
      <th><%= f.label(:first_name) %></th>
      <td><%= f.text_field(:first_name) %></td>
    </tr>
    <tr>
      <th><%= f.label(:last_name) %></th>
      <td><%= f.text_field(:last_name) %></td>
    </tr>
    <tr>
      <th><%= f.label(:gender) %></th>
      <td><%= f.select(:gender, UserInfo.genders.keys, { include_blank: 'gender' }) %></td>
    </tr>
    <tr>
      <th><%= f.label(:current_city) %></th>
      <td><%= f.text_field(:current_city) %></td>
    </tr>
    <tr>
      <th><%= f.label(:home_town) %></th>
      <td><%= f.text_field(:home_town) %></td>
    </tr>
    <tr>
      <th><%= f.label(:current_institute) %></th>
      <td><%= f.text_field(:current_institute) %></td>
    </tr>
    <tr>
      <th><%= f.label(:highest_education) %></th>
      <td><%= f.text_field(:highest_education) %></td>
    </tr>
    <tr>
      <th><%= f.label(:major) %></th>
      <td><%= f.text_field(:major) %></td>
    </tr>
    <tr>
      <th><%= f.label(:other_majors) %></th>
      <td><%= f.text_field(:other_majors) %></td>
    </tr>
    <tr>
      <th><%= f.label(:years_in_program) %></th>
      <td><%= f.select(:years_in_program, [["graduated", 0], *(1..6).collect{|y| [y.to_s, y]}, ["other", nil]]) %></td>
    </tr>
  </table>
  <div class="form-buttons">
    <%= f.submit("Save Profile") %>
  </div>

<% end %>
