<%= form_for(user_info, url: user_info_path, method: method, html: { multipart: true }) do |f| %>
  <%= error_messages_for(f.object) %>
  <table summary="User information fields">
    <tr>
      <th><%= f.label(:avatar) %></th>
      <td>
        <%= image_tag(user_info.avatar_url) if user_info.avatar? %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
      </td>
    <tr>
      <th><%= f.label(:first_name) %></th>
      <td><%= f.text_field(:first_name) %></td>
    </tr>
    <tr>
      <th><%= f.label(:last_name) %></th>
      <td><%= f.text_field(:last_name) %></td>
    </tr>
    <tr>
      <th><%= f.label(:gender) %></th>
      <td><%= f.select(:gender, options_for_select([
        ['Gender', nil], ['Male', 0], ['Female', 1], ['Other', 2]], f.object.gender)) %></td>
    </tr>
    <tr>
      <th><%= f.label(:city) %></th>
      <td><%= f.text_field(:city) %></td>
    </tr>
    <tr>
      <th><%= f.label(:about) %></th>
      <td><%= f.text_area(:about) %></td>
    </tr>
  </table>
  <div class="form-buttons">
    <%= f.submit("Save Profile") %>
  </div>

<% end %>
