<div class="btn-group d-flex" style="width:100%">
  <%= link_to "主页", user_info_path, class: "btn btn-success w-100"  %>
  <%= link_to "搜索", '#', class: "btn btn-success w-100" %>
  <%= link_to "导师", '#', class: "btn btn-success w-100" %>
  <%= link_to "服务", '#', class: "btn btn-success w-100" %>
  <%= link_to "费用", '#', class: "btn btn-success w-100" %>
  <%= link_to "团队", '#', class: "btn btn-success w-100" %>
  <%= link_to "购物", '#', class: "btn btn-success w-100" %>
  <%= link_to "社区", '#', class: "btn btn-success w-100" %>
</div>
