<nav class="nav navbar-expand-md navbar-light">
  <div class="navbar-nav">
    <%= link_to "主页", user_info_path, class: "nav-item nav-link"  %>
    <%= link_to "搜索", '#', class: "nav-item nav-link" %>
    <%= link_to "导师", '#', class: "nav-item nav-link" %>
    <%= link_to "服务", '#', class: "nav-item nav-link" %>
    <%= link_to "费用", '#', class: "nav-item nav-link" %>
    <%= link_to "团队", '#', class: "nav-item nav-link" %>
    <%= link_to "购物", '#', class: "nav-item nav-link" %>
    <%= link_to "社区", '#', class: "nav-item nav-link" %>
  </div>
</nav>
