<% local = session[:locale] || "en" %>
<% in_scope = "#{controller_name}/#{action_name}" == 'user_infos/edit' %>
<% lang = I18n.locale %>
<div class="container">
  <%#= form_for @user_info, url: user_info_path, method: 'patch', html: { multipart: true } do |f| %>

  <div class="row">
    <div class="col-12">

      <div class="profile-main">
        <div class="header" style="">
          <div class="img" style="background-image: url('<%= profile_image_of %>');">
            <%= scoped in_scope, :content_tag, :div, class: "editable background user-profile",
            data: { model: 'user_info', name: 'avatar', type: 'image', target: 'img', attr: 'src',
              label: 'Change Profile Image', action: user_info_path, method: 'patch' } do %>
              <%= image_tag "reskin/camera-ic.png" %>
              <% end %>
            </div>
          </div>

          <div class="row contact-info">
            <div class="col-sm-4">
              <div class="inner">
                <div class="img-txt">
                  <span>Email</span>
                </div>
                <h5><%= @user_info.email %></h5>
              </div>
            </div>
          </div>

          <div class="row tow-col">
            <div class="col-sm-6 first-half">
              <div class="inner">
                <div class="header">
                  Basic Info
                </div>

                <div class="upload-files  check_boxes custom-checkbox-radios">
                  <div class="inner">
                    <%= form_for @user_info, url: user_info_path, method: 'patch', html: { multipart: true } do |f| %>
                    <div class="row">
                      <div class="col-6">
                        <%= f.label :first_name, "First Name" %>
                        <%= f.text_field :first_name, :maxlength => 15, class: 'form-control' %>
                      </div>
                      <div class="col-6">
                        <%= f.label :last_name, "Last Name" %>
                        <%= f.text_field :last_name, :maxlength => 15, class: 'form-control' %>
                      </div>
                      <div class="col-6 mt-15">
                        <%= f.submit "Update", class: 'btn btn-default' %>
                      </div>
                    </div>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="inner">
                <div class="header">
                  Basic Info
                </div>

                <div class="upload-files  check_boxes custom-checkbox-radios">
                  <div class="inner">
                    <%= form_for @user_info, url: update_password_user_info_path, method: 'put', html: { multipart: true } do |f| %>
                      <div class="row">
                        <div class="col-12 mb-15">
                          <%= f.password_field :current_password, class: 'form-control', placeholder: "Current Password" %>
                        </div>
                        <div class="col-12 mb-15">
                          <%= f.password_field :password, class: 'form-control', placeholder: "New Password" %>
                        </div>
                        <div class="col-12 mb-15">
                          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirmation New Password" %>
                        </div>
                        <div class="col-12 mb-15 mt-15">
                          <%= f.submit "Update", class: 'btn btn-default' %>
                        </div>
                      </div>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <%# end %>
      </div>
    </div>
  </div>
