<div class="row justify-content-center">
  <div class="col-md-10">
    <h4 class="text-green "><strong>欢迎加入飞灵教育！请填写个人信息以完成注册</strong></h4><br>
    <%= form_for @user_info, url: user_info_path, remote: true, method: 'post',
    html: { class: 'multi-step-form current-form', role: 'form', id: 'step1',
      :'data-next-form' => '#step2', :'data-type' => 'json' } do |f| %>
    <%= render partial: 'form_title', locals: { text: '基本信息' } %>
    <%= render partial: 'form_text_field', locals: { f: f, field: :last_name, text: '姓氏 *', placeholder: '“张”', required: true } %>
    <%= render partial: 'form_text_field', locals: { f: f, field: :first_name, text: '名称 *', placeholder: '“三”', required: true } %>
    <% gender_text = ['男', '女', '其他'].zip(UserInfo.genders.keys) %>
    <%= render partial: 'form_select', locals: { f: f, field: :gender, text: '性别 *', required: true, choices: gender_text, options: { include_blank: true, selected: @user_info.gender } } %>
    <%= render partial: 'form_text_field', locals: { f: f, field: :current_city, text: '所在城市', placeholder: '“三藩市 美国”' } %>
    <%= render partial: 'form_text_field', locals: { f: f, field: :home_town, text: '来自城市', placeholder: '“上海”' } %>
    <%= render partial: 'form_submit', locals: { f: f, text: '保存并继续' } %>
    <% end %>

    <%= form_for @user_info, url: user_info_path, remote: true, method: 'patch',
    html: { class: 'multi-step-form', role: 'form', id: 'step2',
      :'data-next-form' => '#step3', :'data-type' => 'json' } do |f| %>
    <%= render partial: 'form_title', locals: { text: '上传头像' } %>
    <div class="form-group row">
      <%= f.label :avatar, "个人照片", class: "col-md-2 col-form-label" %>
      <div class="custom-file d-block" >
        <%= f.file_field :avatar, class: "custom-file-input image-input", :'data-target' => '#profile-img-name', accept: 'image/*' %>
        <%= f.hidden_field :avatar_cache %>
        <span id="profile-img-name" class="custom-file-control custom-file-name" data-content="请选择文件..."></span>
      </div>
    </div>
    <div class="form-group row upload-preview">
      <div class="col-md-11 ml-md-auto">
        <div class="row">
          <label class="col-md-1 col-form-label small">小图标</label>
          <div class="col-md-8 pb-2">
            <%= image_tag 'default_profile.png', class: "profile-image-thumbnail" %>
          </div>
        </div>
        <div class="row">
          <label class="col-md-1 col-form-label small">完整尺寸</label>
          <div class="col-md-8 pb-2">
            <%= image_tag 'default_profile.png', class: "profile-image-full" %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'form_submit', locals: { f: f, text: '保存并继续' } %>
    <% end %>

    <%= form_for @user_info, url: user_info_path, method: 'patch',
    html: { class: 'multi-step-form', role: 'form', id: 'step3', :'data-type' => 'json' } do |f| %>
    <%= render partial: 'form_title', locals: { text: '教育信息' } %>
    <%= render partial: 'form_text_field', locals: { f: f, field: :highest_education, text: '学历', placeholder: '（含在读）' } %>
    <%= render partial: 'form_text_field', locals: { f: f, field: :current_institute, text: '所在院校', placeholder: '“北京人大附中”' } %>
    <% program_years_text = ['已毕业', '准备入学', '第一年', '第二年', '第三年', '第四年', '第五年或以上'].zip(UserInfo.program_years.keys) %>
    <%= render partial: 'form_select', locals: { f: f, field: :program_year, text: '学年', choices: program_years_text, options: { include_blank: true, selected: @user_info.program_year } } %>
    <%= render partial: 'form_text_field', locals: { f: f, field: :major, text: '专业', placeholder: '（可选）' } %>
    <%= render partial: 'form_text_field', locals: { f: f, field: :other_majors, text: '其他专业', placeholder: '（可选）' } %>
    <%= render partial: 'form_submit', locals: { f: f, text: '保存并继续' } %>
    <% end %>
  </div>
</div>
