<div class="mb-4">
  <h5>我的<%= {'instructor' => '导师', 'student' => '学生'}[@other_role] %></h5>
  <hr>
  <% if @self.consult_transactions.empty? %>
    <% if @other_role == 'instructor' %>
      <p>
        还没找到合适的导师? 来<%= link_to "搜索", search_path %>一下吧!
      </p>
    <% else %>
      <p>
        暂时没有学生? 来丰富<%= link_to "我的主页", instructor_info_path %>吸引更多学生吧!
      </p>
    <% end %>
  <% else %>
    <% for transaction in @self.consult_transactions do %>
      <div class="d-inline-block">
        <% other = transaction.send(@other_role) %>
        <%= link_to transaction do %>
          <%= image_tag profile_image_of(other), class: 'mb-2' %>
        <% end %>
        <div class="text-center">
          <h6 class="small"><%= other.full_name %></h6>
          <h6 class="small"><%= transaction.service || "未确定服务" %></h6>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div>
  <h5>我的消息</h5>
  <hr>
  <% updated_transactions = @self.consult_transactions.joins(:chat).order('chats.updated_at') %>
  <% for transaction in updated_transactions do %>
    <% next if transaction.chat.chat_lines.empty? %>
    <% other = transaction.send(@other_role) %>
    <div class="row mb-3">
      <div class="col-2">
        <%= link_to transaction do %>
          <%= image_tag profile_image_of(other), class: 'w-100' %>
        <% end %>
      </div>
      <div class="col-2 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <h6 class="mb-0"><%= other.full_name %></h6>
          <h6 class="mb-0"><%= transaction.chat.updated_at.strftime('%Y/%m/%d') %></h6>
        </div>
      </div>
      <div class="col-6 d-flex align-items-center">
        <span><%= transaction.chat.chat_lines.last.content %></span>
      </div>
      <div class="col-2 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <h6 class="mb-0">1小时</h6>
          <h6 class="mb-0"><%= transaction.hourly_price || "?" %> 元</h6>
        </div>
      </div>
    </div>
  <% end %>
</div>
