<div class="card">
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), role: "form") do |f| %>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group tight-form">
          <%= f.email_field :email, autofocus: true, class: "form-control first-input", require: true, placeholder: "邮箱" %>
        </div>
        <div class="form-group tight-form">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "密码" %>
        </div>
        <div class="form-group tight-form">
        <% if devise_mapping.rememberable? %>
          <%= f.label :remember_me, class: "small" do %>
            <%= f.check_box :remember_me %>
            记住我
          <% end %>
        <% end %>
        <%= link_to "忘记密码", new_password_path(resource_name), class: "small float-right" %>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.submit "登录", class: "btn btn-success btn-block" %>
          </div>
          <div class="col-md-6">
            <%= link_to "注册", new_registration_path(resource_name), class: "btn btn-signup btn-block", role: "button" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="col-md-12 divider">
      <span>或</span>
      <hr>
    </div>
    <ul class="list-unstyled">
      <li>
        <a href="#" class="btn btn-wechat btn-block">
          <%= image_tag "wechat_logo.png", width: "36", height: "36" %>
          <span>使用微信登录</span>
        </a>
      </li>
    </ul>
  </div>
</div>
