<div class="row student-info-step">
  <div class="col-md-12">
    <div class="section-header">
      <h3><%= I18n.t("registration.step12.title") %></h3>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block" id="our-terms-agreed">
            <p class="survey-question"><%= I18n.t("registration.step14.sub_title") %></p>
            <label><%= I18n.t("registration.step14.q1") %></label>
            <div class="info-row q1">
              <%= image_tag "registration/tick.png"%>
              <p><%= I18n.t("registration.step14.t1") %></p>
            </div>
            <div class="info-row q2">
              <%= image_tag "registration/tick.png"%>
              <p><%= I18n.t("registration.step14.t2") %></p>
            </div>
            <div class="info-row q3">
              <%= image_tag "registration/tick.png"%>
              <p><%= I18n.t("registration.step14.t3") %></p>
            </div>
            <div class="info-row q4">
              <%= image_tag "registration/tick.png"%>
              <p><%= I18n.t("registration.step14.t4") %></p>
            </div>
            <div class="info-row q5">
              <%= image_tag "registration/tick.png"%>
              <p><%= I18n.t("registration.step14.t5") %></p>
            </div>
          </div>
          <hr/>
          <div class="question-block" id="your-terms-agreed">
            <label><%= I18n.t("registration.step14.q2") %></label>
            <div class="info-row q6">
              <%= image_tag "registration/tick.png"%>
              <p><label><%= I18n.t("registration.step14.k1") %></label></p>
            </div>
            <div class="info-row q7">
              <%= image_tag "registration/tick.png"%>
              <p><label><%= I18n.t("registration.step14.k2") %></label></p>
            </div>
            <div class="info-row q8">
              <%= image_tag "registration/tick.png"%>
              <p><label><%= I18n.t("registration.step14.k3") %></label></p>
            </div>
            <div class="info-row q9">
              <%= image_tag "registration/tick.png"%>
              <p><label><%= I18n.t("registration.step14.k4") %></label></p>
            </div>
            <div class="info-row q10">
              <%= image_tag "registration/tick.png"%>
              <p><label><%= I18n.t("registration.step14.k5") %></label></p>
            </div>
          </div>
          <div class="survey-btn-row">
            <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step13" data-percentage='14%' ><%= I18n.t("registration.btn_back") %></button>
            <button type="button" class="btn btn-primary step-navigate next main-btn pull-right next" data-percentage='21%' data-target="#step15"><%= I18n.t("registration.btn_next") %></button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="col-md-4 right-panel">
    <div class="green-box elepahnt step14">
      <%= image_tag "registration/step7-elephent.png"%>
      <p><%= I18n.t("registration.step14.elephant_text") %></p>
    </div>
  </div>
</div>
