<div class="row">
  <div class="col-md-12">
    <div class="section-header">
      <h3><%= I18n.t("registration.step5.title") %></h3>
    </div>
  </div>
  <div class="col-md-7 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block check_boxes custom-checkbox-radios">
            <p class="survey-question"><%= I18n.t("registration.step5.q") %></p>
            <%= render partial: 'instructor_infos/steps/shared/information_sharing', locals: {f: f, lang: lang} %>
          </div>
          <div class="survey-btn-row">
            <div class="row">
              <div class="col-md-7">
                <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step4" data-percentage='60%' ><%= I18n.t("registration.btn_back") %></button>
                <button type="button" class="btn btn-primary step-navigate main-btn pull-right next" data-percentage='100%' data-target="#step6"><%= I18n.t("registration.btn_next") %></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
