<div class="row">
  <div class="col-md-12">
    <div class="section-header">
      <h3 > Please fill in the information below</h3>
    </div>
  </div>
  <div class="col-md-6 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block check_boxes">
            <p class="survey-question">What informatin can you share to students?</p>
            <div class="">
              <label><%= f.check_box :share_resume %>Personal CV</label>
              <%#= f.label :share_resume, "" %>
            </div>
            <div class="">
              <label><%= f.check_box :share_application_essay %>Application Letter</label>
            </div>
            <div class="">
              <label><%= f.check_box :share_offer_letter %>Offer Letter</label>
            </div>
            <div class="">
              <label><%= f.check_box :share_gpa %>GPA</label>
            </div>
            <div class="">
              <label><%= f.check_box :share_gre_score %>GRE Score</label>
            </div>
            <div class="">
              <label><%= f.check_box :share_paper %>Published paper</label>
            </div>
            <div class="">
              <label><%= f.check_box :share_course_essay %>Essay from classes</label>
            </div>
          </div>
          <div class="survey-btn-row">
            <div class="row">
              <div class="col-md-7">
                <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step4">上一步</button>
                <button type="button" class="btn btn-primary step-navigate main-btn pull-right next" data-percentage='100%' data-target="#step6">下一步</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
