<div class="row">
  <div class="col-md-12">
    <div class="section-header">
      <h3>Prepare for students now</h3>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-10">
          <div class="question-block">
            <p class="survey-question">Set a length of time a student can work with you</p>
            <p class="">How long you are willing to work with one student is important. Students will use this to adjust their progress and communication with you.</p>
          </div>

          <div class="question-block">
            <div class="row">
              <div class="col-md-10">
                <%= f.label :min_work_days, "Minimum work days?" %>
                <%= f.number_field :min_work_days, min: 2, max: 30,default: 2, class: 'select2', placeholder: 'Select minum work days' %>
              </div>
            </div>
          </div>
          <div class="question-block">
            <div class="row">
              <div class="col-md-10">
                <%= f.label :Max_work_days, "Maximum work days?" %>
                <%= f.number_field :Max_work_days, min: 2, max: 30,default: 2, class: 'select2', placeholder: 'Select maximum work days' %>
              </div>
            </div>
          </div>

          <div class="survey-btn-row">
            <button type="button" class="btn btn-default step-navigate pull-right" data-target="#step17">上一步</button>
            <button type="button" class="btn btn-primary step-navigate main-btn pull-left next"  data-percentage='60%' data-target="#step19">下一步</button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-md-3 right-panel">
    <div class="calendar-box elepahnt">
      <p>You can choose<br/> between 2 and 30 days</p>
      <%= image_tag "registration/calendar-min-max.png"%>
    </div>
  </div>
</div>
