<div class="row">
  <div class="col-md-12">
    <div class="section-header">
      <h3><%= I18n.t("registration.step8.title") %></h3>
    </div>
  </div>

  <div class="col-md-3"></div>
  <div class="col-md-6 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-10">
          <div class="question-block">
            <p class="survey-question"><%= I18n.t("registration.step8.description") %></p>
            <div class="form-group">
              <%= f.label :description, I18n.t("registration.step8.label"), class: '' %>
              <%= f.text_area :description, rows: 5, class: '',id: 'description', placeholder: I18n.t("registration.step8.placeholder") %>
              <span class="error"><%= I18n.t("registration.step8.error") %></span>
              <span id="description-char-count" class="pull-right char-info" style="font-size: 12px;"><span>0</span> / 400</span>
            </div>
            <div class="question-block check_boxes custom-checkbox-radios">
              <label><%= I18n.t("registration.step8.q") %></label>
              <div class="">
                <% InstructorInfo.best_applying_at_options(lang).each_with_index do |option, idx| %>
                <div class="radio-btns">
                  <%= f.radio_button :best_applying_at, option[1], id: "best_applying_at#{idx}" %><label for="<%= "best_applying_at#{idx}" %>"> <%= option[0]%></label>
                </div>
                <%end%>
              </div>
            </div>
          </div>
          <div class="survey-btn-row">
            <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step7" data-percentage='1%' ><%= I18n.t("registration.btn_back") %></button>
            <button type="button" class="btn btn-primary step-navigate main-btn pull-right next" data-percentage='40%' data-target="#step9"><%= I18n.t("registration.btn_next") %></button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
