<div class="row">
  <div class="col-md-12">
    <div class="section-header">
      <h3 ><%= I18n.t("registration.step2.title") %> </h3>
    </div>
  </div>
  <div class="col-md-7 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block">
            <p class="survey-question"><%= I18n.t("registration.step2.question_text") %></p>
              <%= render partial: 'instructor_infos/steps/shared/subject_to_teach', locals: {f: f, lang: lang} %>
            <div class="row">
              <div class="col-md-8">
                <label><%= I18n.t("registration.step2.radio_question") %></label>
                <div class="radio-btns custom-checkbox-radios">
                  <%= f.radio_button :helped_before, true, id: 'helped_before_true' %>
                  <label for="helped_before_true"><%= I18n.t("registration.step2.yes_label") %></label>
                </div>
                <div class="radio-btns custom-checkbox-radios">
                  <%= f.radio_button :helped_before, false, id: 'helped_before_false' %>
                  <label for="helped_before_false"><%= I18n.t("registration.step2.no_label") %></label>
                </div>
              </div>
            </div>
          </div>
          <div class="survey-btn-row">
            <div class="row">
              <div class="col-md-8">
                <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step1" data-percentage='20%' ><%= I18n.t("registration.btn_back") %></button>
                <button type="button" class="btn btn-primary step-navigate main-btn pull-right next"  data-percentage='45%' data-target="#step3"><%= I18n.t("registration.btn_next") %></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
