<div class="row calendar-info-wrapper">
  <div class="col-md-12">
    <div class="section-header">
      <h3 >Step 3: Prepare for students now</h3>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-6 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block">
            <p class="survey-question">Provide a deal to start fast</p>
            <!-- <label>You can set the time you are available to help students</label> -->
            <div class="row">
              <div class="col-md-9">
                <div class="calendar-info-box price discount first">
                  <div class="img-wrapper"><%= image_tag "registration/discount.png"%></div>
                  <div class="title-wrapper"><p >Give a 20% discount for your first student!</p></div>
                  <div class="txt-wrapper"><p>​To help start your service, this deal is provided to the first student. Other students will be charged with your standard rate. This discount expires in a month.</p></div>
                  <span>Recommended</span>
                  <%= f.radio_button :first_std_discount, true, id: 'first_std_discount_true' %>
                  <label for="first_std_discount_true"></label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="calendar-info-box price discount first">
                  <div class="img-wrapper"><%= image_tag "registration/no-discount.png"%></div>
                  <div class="title-wrapper"><p>No, I will just use my standard rate.</p></div>
                  <div class="txt-wrapper"><p>The first student will not get a discount. It might become a little harder to start your service.</p></div>
                  <%= f.radio_button :first_std_discount, false, id: 'first_std_discount_false' %>
                  <label for="first_std_discount_false"></label>
                </div>
              </div>
            </div>
          </div>
          <div class="survey-btn-row">
            <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step23" data-percentage='75%' ><%= I18n.t("registration.btn_back") %></button>
            <button type="button" class="btn btn-primary step-navigate next main-btn pull-right next" data-percentage='100%' data-target="#step26" id="discount-setter"><%= I18n.t("registration.btn_next") %></button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-md-3 right-panel">
    <div class="green-box elepahnt">
      <%= image_tag "registration/step7-elephent.png"%>
      <p>Why having this option？<br/> ​According to survey, this will help attract students in the beginning. According to statistics. this will help you get review quickly and attract more students.</p>
    </div>
  </div>
</div>
