<div class="row student-info-step">
  <div class="col-md-12">
    <div class="section-header">
      <h3 >Prepare for students now</h3>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block" id="our-terms-agreed">
            <p class="survey-question">Your requirments for students</p>
            <label>Our privacy terms</label>
            <div class="info-row q1">
              <%= image_tag "registration/tick.png"%>
              <p> Allow to share edited files</p>
            </div>
            <div class="info-row q2">
              <%= image_tag "registration/tick.png"%>
              <p> Allow to share my information</p>
            </div>
            <div class="info-row q3">
              <%= image_tag "registration/tick.png"%>
              <p>Allow to meet in person</p>
            </div>
            <div class="info-row q4">
              <%= image_tag "registration/tick.png"%>
              <p>Allow to answer questions for free</p>
            </div>
            <div class="info-row q5">
              <%= image_tag "registration/tick.png"%>
              <p> Allow to ask personal questions</p>
            </div>
          </div>
          <hr/>
          <div class="question-block" id="your-terms-agreed">
            <label>Your privacy terms</label>
            <div class="info-row q6">
              <%= image_tag "registration/tick.png"%>
              <p> For a sense of accomplishment</p>
            </div>
            <div class="info-row q7">
              <%= image_tag "registration/tick.png"%>
              <p> I want to utilize my free time</p>
            </div>
            <div class="info-row q8">
              <%= image_tag "registration/tick.png"%>
              <p>I don't know how to write actually</p>
            </div>
            <div class="info-row q9">
              <%= image_tag "registration/tick.png"%>
              <p>I am more nervous than you when I help you apply</p>
            </div>
            <div class="info-row q10">
              <%= image_tag "registration/tick.png"%>
              <p>I care about your cooperation very much</p>
            </div>
          </div>
          <div class="survey-btn-row">
            <button type="button" class="btn btn-default step-navigate pull-right" data-target="#step13">上一步</button>
            <button type="button" class="btn btn-primary step-navigate next main-btn pull-left next" data-percentage='70%' data-target="#step15" data-percentage="30">下一步</button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="col-md-4 right-panel">
    <div class="green-box elepahnt">
      <%= image_tag "registration/step7_elephent.png"%>
      <p>Your information is safe with us! These are the requirments for students before they contact you.</p>
    </div>
  </div>
</div>
