<div class="row student-info-step">
  <div class="col-md-12">
    <div class="section-header">
      <h3 >Step 3: Prepare for students now</h3>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block our-terms-agreed">
            <p class="survey-question">Privacy terms for students</p>
            <div class="">
              <label><%= f.check_box :share_edited_files, "data-class": "q1" %>Allow to share edited files</label>
            </div>
            <div class="">
              <label><%= f.check_box :share_info, "data-class": "q2" %>Allow to share my information</label>
            </div>
            <div class="">
              <label><%= f.check_box :meet_in_person, "data-class": "q3" %>Allow to meet in person</label>
            </div>
            <div class="">
              <label><%= f.check_box :answer_free, "data-class": "q4" %>Allow to answer questions for free</label>
            </div>
            <div class="">
              <label><%= f.check_box :personal_questions, "data-class": "q5" %>Allow to ask personal questions</label>
            </div>
          </div>
          <div class="question-block your-terms-agreed">
            <p class="survey-question">What would you want your students to know about you and the help you provide</p>
            <div class="">
              <label><%= f.check_box :accomplishment, "data-class": "q6" %></label>
              <%= f.label :accomplishment, "For a sense of accomplishment" %>
            </div>
            <div class="">
              <label><%= f.check_box :free_time, "data-class": "q7" %></label>
              <%= f.label :free_time, "I want to utilize my free time" %>
            </div>
            <div class="">
              <label><%= f.check_box :how_to_write, "data-class": "q8" %></label>
              <%= f.label :how_to_write, "I don't know how to write actually" %>
            </div>
            <div class="">
              <label><%= f.check_box :nervous, "data-class": "q9" %></label>
              <%= f.label :nervous, "I am more nervous than you when I help you apply" %>
            </div>
            <div class="">
              <label><%= f.check_box :care_cooperation, "data-class": "q10" %></label>
              <%= f.label :care_cooperation, "I care about your cooperation very much" %>
            </div>
          </div>

          <div class="survey-btn-row">
            <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step12">上一步</button>
            <button type="button" class="btn btn-primary step-navigate next main-btn pull-right next" data-percentage='17%' data-target="#step14" id="selected-terms">下一步</button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="col-md-4 right-panel">
    <div class="green-box elepahnt">
      <%= image_tag "registration/step7_elephent.png"%>
      <p>Besides agreeing with our terms, studens also need to agree with your terms.</p>
      <p>If you feel upset of insecure about the interaction with student, you cancel before setting a time to avoid panelty</p>
    </div>
  </div>
</div>
