<div class="row">
  <div class="col-md-12">
    <div class="section-header">
      <h3><%= I18n.t("registration.step12.title") %></h3>
    </div>
  </div>
</div>
<div class="row calendar-info-wrapper step22">
  <div class="col-md-2"></div>
  <div class="col-md-6 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block">
            <p class="survey-question"><%= I18n.t("registration.step22.sub_title") %></p>
            <label><%= I18n.t("registration.step22.p1") %></label>
            <div class="row">
              <div class="col-md-8">
                <div class="calendar-info-box price first">
                  <div class="img-wrapper"><%= image_tag "registration/recommended-price-tag.png"%></div>
                  <div class="title-wrapper"><p ><%= I18n.t("registration.step22.label1") %></p></div>
                  <div class="txt-wrapper"><p><%= I18n.t("registration.step22.desc1") %></p></div>
                  <span><%= I18n.t("registration.step22.recommended") %></span>
                  <%= f.radio_button :recommended_price, true, id: "recommended_price_true" %>
                  <label for="recommended_price_true"></label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="calendar-info-box price first">
                  <div class="img-wrapper"><%= image_tag "registration/fixed-price-tag.png"%></div>
                  <div class="title-wrapper"><p><%= I18n.t("registration.step22.label2") %></p></div>
                  <div class="txt-wrapper"><p><%= I18n.t("registration.step22.desc2") %></p></div>
                  <%= f.radio_button :recommended_price, false, id: "recommended_price_false"  %>
                  <label for="recommended_price_false"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-md-3 right-panel">
    <div class="green-box elepahnt requirments">
      <p><%= I18n.t("registration.step22.elephant_text") %></p>
      <%= image_tag "registration/step7-elephent.png"%>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="survey-btn-row">
      <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step20" data-percentage='60%' ><%= I18n.t("registration.btn_back") %></button>
      <button type="button" class="btn btn-primary step-navigate next main-btn pull-right next" data-percentage='75%' data-target="#step23" id="price-setter"><%= I18n.t("registration.btn_next") %></button>
    </div>
  </div>
</div>
