<div class="row calendar-info-wrapper">
  <div class="col-md-12">
    <div class="section-header">
      <h3 >Prepare for students now</h3>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-6 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block">
            <p class="survey-question">How do you want to set the price?</p>
            <label>You can set the time you are available to help students</label>
            <div class="row">
              <div class="col-md-8">
                <div class="calendar-info-box price first">
                  <div class="img-wrapper"><%= image_tag "registration/recommended-price-tag.png"%></div>
                  <div class="title-wrapper"><p >According to the market value</p></div>
                  <div class="txt-wrapper"><p>You can use smart price setter to set your price. The price will be within your range.</p></div>
                  <span>Recommended</span>
                  <%= f.radio_button :recommended_price, true %>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="calendar-info-box price first">
                <div class="img-wrapper"><%= image_tag "registration/fixed-price-tag.png"%></div>
                <div class="title-wrapper"><p>Set a fixed price</p></div>
                <div class="txt-wrapper"><p>You can set a expected price first. Feiling platform will give you a suggestion, and it's up to you which one to go with.</p></div>
                <%= f.radio_button :recommended_price, false %>
              </div>
            </div>
          </div>
          <div class="survey-btn-row">
            <button type="button" class="btn btn-default step-navigate pull-right" data-target="#step20">上一步</button>
            <button type="button" class="btn btn-primary step-navigate next main-btn pull-left next" data-percentage='80%' data-target="#step23" id="price-setter">下一步</button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-md-3 right-panel">
    <div class="green-box elepahnt">
      <%= image_tag "registration/step7_elephent.png"%>
      <p>These two ways are mean to help match your desired price with students' desired price. No matter how you choose, we will help you to set a reasonable price that can best help you succeed on this platform.</p>
    </div>
  </div>
</div>
