<div class="row">
  <div class="col-md-12">
    <div class="section-header">
      <%= I18n.t("registration.step12.title") %>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-10">
          <div class="question-block">
            <p class="survey-question">How many days in advance do you need the student to notify you?</p>
            <p class="">How long you are willing to work with one student is important. Students will use this to adjust their progress and communication with you.</p>
          </div>

          <div class="question-block">
            <div class="row">
              <div class="col-md-10">
                <%= f.label :advance_notify, "Select the number of days in advance" %>
                <%= f.select :advance_notify, InstructorInfo.advance_notify_options(lang), {}, { class: 'select2' } %>
              </div>
            </div>
          </div>

          <div class="survey-btn-row">
            <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step18" data-percentage='45%' ><%= I18n.t("registration.btn_back") %></button>
            <button type="button" class="btn btn-primary step-navigate main-btn pull-right next"  data-percentage='60%' data-target="#step20"><%= I18n.t("registration.btn_next") %></button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-md-3 right-panel">
    <div class="calendar-box elepahnt">
      <%= image_tag "registration/advance-notify.png"%>
    </div>
  </div>
</div>
