<div class="row">
  <div class="col-md-12">
    <div class="section-header">
      <h3><%= I18n.t("registration.step12.title") %></h3>
    </div>
  </div>
  <!-- <div class="col-md-2"></div> -->
  <div class="col-md-5 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-10">
          <div class="question-block">
            <p class="survey-question"><%= I18n.t("registration.step18.sub_title") %></p>
            <p class=""><%= I18n.t("registration.step18.p1") %></p>
          </div>

          <div class="question-block">
            <div class="row">
              <div class="col-md-10">
                <%= f.label :min_work_daysss, I18n.t("registration.step18.label1") %>
                <%= f.number_field :min_work_days, min: 2, max: 30, default: 2, class: '', placeholder: I18n.t("registration.step18.placeholder1"), id: 'min_days' %>
              </div>
            </div>
          </div>
          <div class="question-block">
            <div class="row">
              <div class="col-md-10">
                <%= f.label :max_work_days, I18n.t("registration.step18.label2") %>
                <%= f.number_field :max_work_days, min: 2, max: 30,default: 2, class: '', placeholder: I18n.t("registration.step18.placeholder2"), id: 'max_days' %>
                <span class="error hidden"><%= I18n.t("registration.step18.error") %></span>
              </div>
            </div>
          </div>

          <div class="survey-btn-row">
            <div class="row">
              <div class="col-md-10">
                <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step17" data-percentage='40%' ><%= I18n.t("registration.btn_back") %></button>
                <button type="button" class="btn btn-primary step-navigate main-btn pull-right next"  data-percentage='55%' data-target="#step19"><%= I18n.t("registration.btn_next") %></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-md-3 right-panel">
    <div class="calendar-box elepahnt">
      <p><%= I18n.t("registration.step18.cal1") %><br/> <%= I18n.t("registration.step18.cal2") %> </p>
      <%= image_tag "registration/calendar-min-max.png"%>
    </div>
  </div>
</div>
