<div class="container">
  <div class="col-md-8">
    <fieldset class="row">
      <div class="col-md-12">
        <div class="head-sec">
          <h2 class="main-heading">
            <!-- 在注册成为飞灵导师之前 -->
            <%= I18n.t("registration.step0.title") %>
          </h2>
        </div>
      </div>
      <div class="col-md-8">
        <p>
          <%= I18n.t("registration.step0.p1") %>
        </p>
        <p>
          <%= I18n.t("registration.step0.p2") %>
        </p>
        <p>
          <%= I18n.t("registration.step0.p3") %>
        </p>

        <div class="survey-btn-row">
          <button type="button" class="btn btn-primary float-right step-navigate main-btn next" data-target="#step1"  data-percentage='20%'>
            <%= I18n.t("registration.btn_agree") %>
          </button>
          <button type="button" class="btn btn-default step-navigate float-left" data-target="#">
            <%= I18n.t("registration.btn_disagree") %>
          </button>
        </div>
      </div>
    </fieldset>
  </div>
</div>
