<div class="row tutor-picture-wrapper">
  <div class="col-md-12">
    <div class="section-header">
      <h3 >Decorate your profile page</h3>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block tutor-picture-block">
            <p class="survey-question">Please add a picture of yourself </p>
            <%= image_tag "registration/pic-placeholder.png"%>
            <div class="custom-file d-block">
              <%= f.file_field :avatar, class: "image-input", :'data-target' => '#page-background-img-name', accept: 'image/*' %>
              <%= f.hidden_field :avatar_cache %>
              <span id="page-background-img-name" class="custom-file-control page-bg custom-file-name" data-content="Upload">
                <%= image_tag "registration/upload-icon.png" %>
              </span>
            </div>
          </div>
          <div class="survey-btn-row">
            <button type="button" class="btn btn-default step-navigate pull-right" data-target="#step9">上一步</button>
            <button type="button" class="btn btn-primary step-navigate next main-btn pull-left next" data-percentage='80%' data-target="#step11" data-percentage="30">下一步</button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="col-md-4 right-panel">
    <div class="green-box elepahnt">
      <%= image_tag "registration/step7_elephent.png"%>
      <p>Every user (tutors and students) on the platform has a profile picture of her/himself. The purpose is to improve the sense of trust and security.</p>
      <p>Please make sure we can clearly see your face in the picture.</p>
    </div>
  </div>
</div>
