<div class="row student-info-step">
  <div class="col-md-12">
    <div class="section-header">
      <h3 >Step 3: Prepare for students now</h3>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block">
            <p class="survey-question">Our requirments for students</p>
            <label>Before selecting tutors, we require students to meet the following requirements</label>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p> Profile picture</p>
            </div>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p> Authenticated e-mail address</p>
            </div>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p> Authenticated phone number</p>
            </div>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p> Payment information</p>
            </div>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p> Agree with our privacy term</p>
            </div>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p> Send you information for questions</p>
            </div>
          </div>
          <hr/>
          <div class="question-block">
            <label>For new students:</label>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p> Every tutor tries their best to help you</p>
            </div>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p> Please respect all tutors, they are why we exist</p>
            </div>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p> Please keep in contact with tutors</p>
            </div>
          </div>
          <div class="survey-btn-row">
            <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step11">上一步</button>
            <button type="button" class="btn btn-primary step-navigate next main-btn pull-right next" data-percentage='14%' data-target="#step13">下一步</button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="col-md-4 right-panel">
    <div class="green-box elepahnt">
      <%= image_tag "registration/step7_elephent.png"%>
      <p>Your information is safe with us! These are the requirments for students before they contact you.</p>
    </div>
  </div>
</div>
