<div class="row student-info-step">
  <div class="col-md-12">
    <div class="section-header">
      <h3><%= I18n.t("registration.step12.title") %></h3>
    </div>
  </div>
  <!-- <div class="col-md-2"></div> -->
  <div class="col-md-4 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block">
            <p class="survey-question"><%= I18n.t("registration.step12.sub_title") %></p>
            <label><%= I18n.t("registration.step12.q1") %></label>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p> <%= I18n.t("registration.step12.r1") %></p>
            </div>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p> <%= I18n.t("registration.step12.r2") %></p>
            </div>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p> <%= I18n.t("registration.step12.r3") %></p>
            </div>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p> <%= I18n.t("registration.step12.r4") %></p>
            </div>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p> <%= I18n.t("registration.step12.r5") %></p>
            </div>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p> <%= I18n.t("registration.step12.r6") %></p>
            </div>
          </div>
          <hr/>
          <div class="question-block">
            <label><%= I18n.t("registration.step12.q2") %></label>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p> <%= I18n.t("registration.step12.n1") %></p>
            </div>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p><%= I18n.t("registration.step12.n2") %></p>
            </div>
            <div class="info-row">
              <%= image_tag "registration/tick.png"%>
              <p><%= I18n.t("registration.step12.n3") %></p>
            </div>
          </div>
          <div class="survey-btn-row">
            <button type="button" class="btn btn-default step-navigate pull-left initialize-section" data-target="#step11" data-percentage='100%' data-section="sec2" ><%= I18n.t("registration.btn_back") %></button>
            <button type="button" class="btn btn-primary step-navigate next main-btn pull-right next" data-percentage='14%' data-target="#step13"><%= I18n.t("registration.btn_next") %></button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="col-md-4 right-panel">
    <div class="green-box elepahnt step12">
      <%= image_tag "registration/step7-elephent.png"%>
      <p><%= I18n.t("registration.step12.elephant_text") %></p>
    </div>
  </div>
</div>
