<div class="question-block">
  <p class="survey-question"><%= I18n.t("registration.step23.range.title") %></p>
  <p class=""><%= I18n.t("registration.step23.range.p1") %></p>
</div>

<div class="question-block">
  <div class="row">
    <div class="col-md-10">
      <%= f.label :min_price, I18n.t("registration.step23.range.label1") %>
      <%= f.number_field :min_price, min: 100, max: 3000,default: 600, class: 'hourly-rate', placeholder: I18n.t("registration.step23.range.placeholder1"), id: "min_price" %>
    </div>
  </div>
</div>
<div class="question-block">
  <div class="row">
    <div class="col-md-10">
      <%= f.label :max_price, I18n.t("registration.step23.range.label2") %>
      <%= f.number_field :max_price, min: 100,max: 3000,default: 800, class: 'hourly-rate', placeholder: I18n.t("registration.step23.range.placeholder2"), id: "max_price" %>
      <span class="error hidden"><%= I18n.t("registration.step23.range.error") %></span>
    </div>
  </div>
</div>
