<!-- <h1><%= role%><%#= {'instructor' => '导师', 'student' => '学生'}[other_role] %></h1> -->
<!-- <%# puts other_role %> -->
<!-- <hr> -->
<% for transaction in @transactions do %>
  <% other = transaction.send(other_role) %>
  <% next if other.nil?%>
  <div class="row mb-4">
    <div class="col-3">
      <%= image_tag profile_image_of(other), class: 'd-block m-auto' %>
    </div>
    <div class="col-4">
      <%= link_to transaction do %>
        <h5><%= other.full_name %></h5>
      <% end %>
      <div>
        <span class="mr-3">状态:</span><span>未确认</span>
      </div>
      <div>
        <span class="mr-3">订单创建日期:</span><span><%= transaction.created_at %></span>
      </div>
      <div>
        <span class="mr-3">订单更新日期:</span><span><%= transaction.updated_at %></span>
      </div>
    </div>
    <div class="col-5 d-flex flex-column">
      <h6>聊天记录</h6>
      <div class="chat-box">
        <div class="chat-lines">
          <% for chat_line in transaction.chat.chat_lines do %>
          <div class="chat-line<%= ' chat-line-right' if chat_line.user_info_id == current_user.id %>">
            <pre><%= chat_line.content %></pre>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
