<!-- <h1><%= role%><%#= {'instructor' => '导师', 'student' => '学生'}[other_role] %></h1> -->
<!-- <%# puts other_role %> -->
<!-- <hr> -->
<% for transaction in @transactions do %>
  <% other = transaction.send(other_role) %>
  <% @transactions.delete(transaction) if other.nil?%>
<%end%>

<% if @transactions.size == 0 %>
  <p class="no-order-message"><%= I18n.t("transactions.no_orders") %></p>
<%else%>
<div class="row order-title-row">
  <div class="col-sm-3"><%= other_role == "instructor" ? I18n.t("transactions.inst_name") : I18n.t("transactions.std_name") %></div>
  <div class="col-sm-3"><%= I18n.t("transactions.order_placed_at") %></div>
  <div class="col-sm-3"><%= I18n.t("transactions.order_status") %></div>
  <div class="col-sm-3"><%= I18n.t("transactions.actions") %></div>
</div>


  <% for transaction in @transactions do %>
    <% other = transaction.send(other_role) %>
    <% next if other.nil?%>

    <div class="row order-title-row data-row">
      <div class="col-sm-3"><%= other.full_name %></div>
      <div class="col-sm-3"><%= transaction.created_at %></div>
      <div class="col-sm-3"><%= transaction.status %></div>
      <div class="col-sm-3">
        <%= link_to transaction do %>
          <%= I18n.t("transactions.view_more") %>
        <% end %>|
        <%= link_to user_reviews_path(transaction, transaction_id: transaction.id) do %>
          <%= I18n.t("transactions.view_reviews") %>
        <% end %>
      </div>
    </div>

  <% end %>
<% end %>
