<div class="row msg-wrapper chat-wrapper">
  <div class="col-3 px-5">
    <div class="info-box">
      <%= image_tag profile_image_of(@other), class: 'd-block mb-3' %>
      <h4 class=""><%= @other.full_name %></h4>
      <span class=""><%= @other.email %></span>
      <!-- <h5><%#= @transaction.service || "未确定服务" %></h5> -->
    </div>
      <div>
        <span class="mr-3">Status:</span><span><%= status_text_of @transaction %></span>
      </div>
      <div>
        <span class="mr-3">Order placed at:</span>
        <span><%= @transaction.created_at.strftime('%Y/%m/%d') %></span>
      </div>
      <div>
        <span class="mr-3">Order updated at:</span>
        <span><%= @transaction.updated_at.strftime('%Y/%m/%d') %></span>
      </div>
      <div class="text-center">
        <% case @self %>
        <% when @transaction.student %>
          <% case @transaction.status %>
          <% when "initiated" %>
            <%= button_to "前往付款", pay_consult_transaction_path, disabled: true, class: 'btn btn-outline-secondary mt-3' %>
          <% when "payment_pending" %>
            <%= button_to "前往付款", pay_consult_transaction_path, class: 'btn btn-outline-success mt-3' %>
          <% end %>
        <% when @transaction.instructor %>
          <% case @transaction.status %>
          <% when "initiated" %>
            <%= button_to "确认订单", confirm_consult_transaction_path, method: 'post', class: 'btn mt-3' %>
          <% when "payment_pending" %>
            <%= button_to "取消确认", confirm_consult_transaction_path(cancel: true), method: 'post', class: 'btn btn-outline-danger mt-3' %>
          <% end %>
        <% end %>
      </div>
  </div>
  <div class="consult-comm message-history-wrapper col-6 d-flex flex-column px-4" data-transaction-id="<%= @transaction.id %>" data-user-id="<%= current_user.id %>">
    <div class="chat-box message">
      <div class="chat-lines msg-content-wrapper">
        <% for chat_line in @transaction.chat.chat_lines do %>
        <div class="chat-line msg-content <%= ' chat-line-right' if chat_line.user_info_id == current_user.id %>">
          <p class="mb-1"><%= chat_line.content %></p>
        </div>
        <% end %>
      </div>
      <%= form_tag nil, class: 'chat-input d-flex' do %>
        <%= hidden_field_tag :transaction_id, @transaction.id %>
        <%= text_area_tag :content, '', style: 'flex:1' %>
        <%= submit_tag "发送", data: { disable_with: false } %>
      <% end %>
    </div>
    <!-- <audio class="remote" autoplay controls></audio> -->
    <!-- <audio class="local" autoplay controls></audio> -->
    <!-- <button class="voice-chat-init">开始语音通话</button> -->
    <button class="btn btn-primary" id="init-video">Start video chat</button>
  </div>
  <div class="col-3 video-chat-wrapper p-x">
    <div class="info-box">
      <% sender = current_user.user_info%>
      <%= image_tag profile_image_of(sender), class: 'd-block mb-3' %>
      <h4 class=""><%= sender.full_name %></h4>
      <span class=""><%= sender.email %></span>
    </div>

      <div id="publisherContainer" class=""></div>
      <div id="subscriberContainer" class="subscriber-container hidden"></div>
      <div class="flag-info-msg" id="flag-info-msg"></div>
      <button class="btn btn-danger hidden" id="cancel-video">Stop</button>
  </div>
</div>

<%= render 'video_call'%>
