<% local = session[:locale] || "en" %>
<%= render 'video_call'%>
<div class="video-chat-wrapper p-x hidden">
  <div class="info-box">
    <% sender = current_user.user_info %>
    <%#= image_tag profile_image_of(sender), class: 'd-block mb-3' %>
    <h4 class=""><%#= sender.full_name %></h4>
    <span class=""><%#= sender.email %></span>
  </div>

    <div id="publisherContainer" class=""></div>
    <div id="subscriberContainer" class="subscriber-container hidden"></div>
    <div class="flag-info-msg" id="flag-info-msg"></div>
    <button class="btn btn-danger hidden" id="cancel-video"><%= I18n.t("chat.stop") %></button>
</div>
<div class="container">
  <div class="with-leftbar row">
    <div class="col-md-3 col-sm-4">
      <div class="left-bar-con">
        <div class="left-bar">
          <div class="profile-info">
            <div class="inner">
              <div class="img" style="background-image: url('<%= profile_image_of(@other) %>');"></div>
              <h2><%= @other.full_name %></h2>
              <% if @other.respond_to? :university_name%>
              <% spec_list = @other.specialization_name local%>
              <% spec_list.each do |spec| %>
                 <div class="skills"><%=spec%></div>
              <% end %>
              <%end%>
              <!-- <div class="reviews">
                <%#= image_tag "reskin/stars.png" %>
                <span class="count">38</span>
                Reviews
              </div> -->

              <% if @other.respond_to? :university_name%>
                <div class="info location">
                  <%= image_tag "reskin/location-green.png" %>
                  <%= InstructorInfo.find_university(@other.try(:university_name))%>
                </div>
              <%end%>

              <% if @other.respond_to? :degree_completed_name%>
                <div class="info skills">
                  <ul>
                    <li class="degree">
                        <%= image_tag "reskin/edu-cap.png", class: ''%>
                        <span><%= InstructorInfo.find_degree(@other.try(:degree_completed_name))%></span>
                    </li>
                  </ul>
                </div>
              <%end%>
            </div>

            <div class="status-con">
              <div class="inner">
                <div class="img-txt">
                  <%= image_tag "reskin/waiting-glass.png"%><%= I18n.t("chat.status") %>
                </div>
                <%= status_text_of @transaction %>
              </div>

              <div class="inner">
                <div class="img-txt">
                  <%= image_tag "reskin/clock-green.png" %>
                  <%= I18n.t("chat.order_placed_at") %>
                </div>
                <%= @transaction.created_at.strftime('%Y/%m/%d') %>
              </div>

              <% unless @other.respond_to? :degree_completed_name%>
                <div class="inner">
                  <div class="img-txt">
                    <%= image_tag "reskin/clock-green.png" %>
                    <%= I18n.t("chat.order_updated_at") %>
                  </div>
                  <%= @transaction.updated_at.strftime('%Y/%m/%d') %>
                </div>
              <%end%>

              <div class="btns">

                <%= form_for(@transaction) do |f| %>

                <% case @self %>
                <% when @transaction.student %>
                  <% case @transaction.status %>
                  <% when "initiated" %>
                    <%= button_to I18n.t("chat.student_initiated"), '', disabled: true, class: 'btn default-btn btn-block btn-initiated' %>
                  <% when "payment_pending" %>

                    <%= link_to I18n.t("chat.pending") +  " #{@payment_amount}", payment_complete_consult_transaction_path , class: 'btn default-btn btn-block red' %>
                    <%= link_to I18n.t("chat.decline"), decline_consult_transaction_path, class: 'btn default-btn btn-block'%>
                    <!-- <%= button_to I18n.t("chat.decline"), '', class: 'btn default-btn btn-block' %> -->
                  <% when "aborted" %>
                    <h6><%=I18n.t("chat.request_aborted_student")%></h6>
                    <!-- <%= button_to I18n.t("chat.request_aborted_student"), '', disabled: true, class: 'btn default-btn btn-block red' %> -->

                  <% when "payment_completed" %>
                    <%= button_to I18n.t("chat.payment_successful"), '', disabled: true, class: 'btn default-btn btn-block red' %>

                  <% when "completed" %>
                    <%= link_to I18n.t("chat.request_completed"), user_reviews_path(@transaction.instructor, :transaction_id => @transaction), class: 'btn default-btn btn-block red' %>
                    <!-- <%= button_to I18n.t("chat.request_completed"), '', disabled: true, class: 'btn default-btn btn-block red' %> -->

                  <% when "reviewed" %>
                    <h6><%=I18n.t("service_status.reviewed")%></h6>
                  <% end %>


                <% when @transaction.instructor %>
                  <% case @transaction.status %>
                  <% when "initiated" %>
                    <div class="form-group">
                      <label for="customized-price"><%= I18n.t("instructor_profile.customized_price") %></label>
                      <%= f.text_field :hourly_price, :id => "payment_amount", :maxlength => 6 %>
                    </div>
                    <div class="form-group">
                      <%= f.submit I18n.t("chat.instructor_initiated"), class: "btn default-btn btn-block red", id: "confirm-payment-btn" %>
                      <%= link_to I18n.t("chat.decline"), decline_consult_transaction_path, class: 'btn default-btn btn-block'%>
                    </div>
                  <% when "payment_pending" %>
                    <%= button_to I18n.t("chat.pending_msg"), '', disabled: true, class: 'btn default-btn btn-block red' %>
                  <% when "aborted" %>
                    <h6><%=I18n.t("chat.request_aborted_instructor")%></h6>

                  <% when "payment_completed" %>
                    <%= link_to I18n.t("chat.complete_request"), complete_consult_transaction_path, class: 'btn default-btn btn-block'%>

                  <% when "completed" %>
                    <h6><%=I18n.t("chat.order_closed")%></h6>

                  <% when "reviewed" %>
                    <h6><%=I18n.t("chat.order_closed")%></h6>

                  <% end %>

                <% end %>
                <!-- <a href="#" class="btn default-btn btn-block">Confirm Order</a> -->
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9 col-sm-8">
      <div class="chat-con">
        <!-- <div class="header">
          <div class="img" style="background-image: url('images/dumy-user.jpg');"></div>
          <span class="user-name">Anna He</span>
        </div> -->

        <div class="body chat-box">
          <div class="consult-comm message-history-wrapper" data-transaction-id="<%= @transaction.id %>" data-user-id="<%= current_user.id %>">
            <div class="chat-box message">
              <div class="chat-lines msg-content-wrapper">
                <% for chat_line in @transaction.chat.chat_lines do %>
                  <% if chat_line.user_info_id == current_user.id %>
                    <div class="reply-by-user msg">
                      <span class="msg"><%= chat_line.content %></span>
                      <div class="img" style="background-image: url('<%= profile_image_of(@self) %>');"></div>
                    </div>
                  <%else%>
                    <div class="msg-by-user msg">
                      <div class="img" style="background-image: url('<%= profile_image_of(@other) %>');"></div>
                      <span class="msg"><%= chat_line.content %></span>
                    </div>
                  <%end%>
                  <div class="date-time-con">
                    <div class="date-time-send"><%= I18n.t("chat.posted_on") %>: <%= chat_line.created_at.strftime('%b %-d, %y - %l:%M %p') %></div>
                  </div>
                <!-- <div class="chat-line msg-content <%#= ' chat-line-right' if chat_line.user_info_id == current_user.id %>"> -->
                  <!-- <p class="mb-1"><%#= chat_line.content %></p> -->
                <!-- </div> -->
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="send-msg-con">
          <ul class="msg-toolbar">
            <li><a class="icn-links video" id="init-video"></a></li>
            <li><a class="icn-links audio" id="init-audio"></i></a></li>
            <li>
              <div class="dropdown settings-cog chat-cog">
                <span class="cog-btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-cog" aria-hidden="true"></i>
                </span>
              </div>
            </li>
          </ul>

          <%= form_tag nil, class: 'chat-input d-flex pos-rel' do %>
            <%= hidden_field_tag :transaction_id, @transaction.id %>
              <%= text_area_tag :content, '', style: 'flex:1', class: '' %>
            <div class="dropdown">
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="radio-btns dropdown-item custom-checkbox-radios">
                  <input type="radio" name="chat_press_enter" value="true" id="chat_press_enter_true" class="chat_press_enter_true">
                  <label for="chat_press_enter_true"><%= I18n.t("chat.press_enter_to_msg") %></label>
                </div>
                <div class="radio-btns custom-checkbox-radios dropdown-item">
                  <input type="radio" name="chat_press_enter" value="false" id="chat_press_enter_false" checked='checked' class="chat_press_enter_false">
                  <label for="chat_press_enter_false"><%= I18n.t("chat.press_enter_for_new_line") %></label>
                </div>
              </div>
            </div>
            <%#= submit_tag "发送", data: { disable_with: false } %>
            <div class="bottom-btn">
              <%= submit_tag I18n.t("chat.send_btn"), class: 'send-msg-btn btn default-btn', data: { disable_with: false } %>
            </div>
          <% end %>
          <!-- <textarea placeholder="type your message here" class="form-control"></textarea> -->

          <!-- <div class="bottom-btns">
            <a href="#" class="btn default-btn white">Cancel</a>
            <a href="#" class="btn default-btn">Send</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
