<% is_modal = false if local_assigns[:is_modal].nil? %>

<% if local_assigns[:is_modal]%>
  <div class="close modal-cross"
        data-dismiss="modal"
        aria-label="Close">
        <%= image_tag "multiply.png"%></div>
<%end%>

<div class="form-wrapper <%= local_assigns[:is_modal] ? 'modal-wrapper' : ''%>">
  <div class="head-sec">
    <h2 class="main-heading"><%= I18n.t "signup.step2.heading" %></h2>
    <h6 class="sub-heading"><%= I18n.t("signup.step2.p") %></h6>
   </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), role: "form") do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
      <div class="col-md-12">
        <%= fields_for :user_info do |user_info| %>
          <div class="form-group tight-bottom field-with-icon">
            <%= user_info.text_field :last_name, autofocus: true, class: "form-control", require: true, placeholder: I18n.t("signup.step2.placeholder1") %>
            <div class="icon"><%= image_tag "registration/002-avatar.png"%></div>
          </div>
          <div class="form-group tight-bottom field-with-icon">
            <%= user_info.text_field :first_name, autofocus: true, class: "form-control", require: true, placeholder: I18n.t("signup.step2.placeholder2") %>
            <div class="icon"><%= image_tag "registration/002-avatar.png"%></div>
          </div>
        <% end %>
        <div class="form-group tight-bottom field-with-icon">
          <%= f.email_field :email, class: "form-control", require: true, placeholder: I18n.t("signup.step2.placeholder3") %>
          <div class="icon"><%= image_tag "registration/003-envelope.png"%></div>
        </div>
        <div class="form-group tight-bottom field-with-icon">
          <% if @minimum_password_length %>
            <% notice = "（最少#{@minimum_password_length}位）"%>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: I18n.t("signup.step2.placeholder4") %>
          <div class="icon"><%= image_tag "registration/001-padlock.png"%></div>
        </div>
        <div class="form-group tight-bottom field-with-icon">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: I18n.t("signup.step2.placeholder5") %>
          <div class="icon"><%= image_tag "registration/001-padlock.png"%></div>
        </div>
        <div class="form-group tight-bottom field-with-icon">
          <h3 class="dob-heading"><%= I18n.t("signup.step2.birthday_lbl") %></h3>
          <h6 class="dob-sub-heading"><%= I18n.t("signup.step2.birthday_lbl") %></h6>
          <%= f.date_select :dob, {start_year: (Date.today.year - 100), end_year: Date.today.year - 18, default: 18.years.ago}, {class: "form-control", placeholder: I18n.t("signup.step2.placeholder6")} %>
        </div>
        <div class="form-group tight-bottom terms-text">
          <p> <%= I18n.t("signup.step2.t1") %> <%= link_to I18n.t("signup.step2.t2"), new_session_path(resource_name), remote: is_modal, class: "" %> <%= I18n.t("signup.step2.t3") %> <%= link_to I18n.t("signup.step2.t4"), new_session_path(resource_name), remote: is_modal, class: "" %></p>
        </div>
        <div class="form-group tight-bottom">
          <%= f.submit I18n.t("signup.step2.signup"), class: "btn btn-block submit-btn" %>
        </div>
      </div>
    </div>
  <% end %>
  <hr class="tight-bottom">
  <div class="already-login-wrapper">
    <p > <%= I18n.t("signup.step2.already_account") %> <%= link_to I18n.t("signup.step2.login") %>, new_session_path(resource_name), remote: is_modal, class: "" %></p>
  </div>
</div>
