<div class="terms-wrapper">
  <div class="close modal-cross" data-dismiss="modal" aria-label="Close"> <%= image_tag "multiply.png"%></div>

  <div class="head-sec">
    <h2 class="terms-heading">
      <%= I18n.t "signup.step1.heading" %>
    </h2>
  </div>
  <p>
    <%= I18n.t "signup.step1.p1" %>
  </p>
  <p>
    <%= I18n.t "signup.step1.p2" %>
  </p>
  <p>
    <%= I18n.t "signup.step1.p3" %>
  </p>
  <div class="survey-btn-row">
    <button type="button" class="btn btn-primary step-navigate pull-right" data-target="#step1" data-percentage='1%' ><%= I18n.t "signup.step1.accept_btn" %></button>
    <button type="button" class="btn btn-default step-navigate next main-btn pull-left next" data-target="#step2"  data-dismiss="modal" aria-label="Close"><%= I18n.t "signup.step1.decline_btn" %></button>
  </div>
</div>
