<footer id="main-footer" class="footer-wrapper">
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 footer-body-cell">
          <h5 class="mb-md-3"><%= link_to I18n.t("footer.terms.title"), terms_conditions_path, target: '_blank'%></h5>
          <p><%= image_tag "reskin/location-green.png"%><span><%= I18n.t "footer.terms.address" %></span></p>
          <p class="my-0"><%= image_tag "reskin/phone-green.png"%><span><%= I18n.t "footer.terms.phone" %></span></p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 footer-body-cell email-date">
          <h5 class="mb-md-3"><%= mail_to I18n.t "footer.terms.email", "support@feelingyt.com", class: 'link'%></h5>
          <p class="pb-1 ml-0"><%= I18n.t "footer.terms.office_time" %></p>
          <div class="dropdown py-0">
            <a href="/set_local?local=en" id="footer-language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if session[:locale] == "cn" %>
                <%= image_tag "reskin/flag/china.jpg" %> Chinese <i class="fa fa-angle-down"></i>
              <%else%>
                <%= image_tag "reskin/flag/usa.jpg" %> English <i class="fa fa-angle-down"></i>
              <%end%>
            </a>
            <div class="dropdown-menu top-bar-drop" aria-labelledby="footer-language">
              <a class="dropdown-item" href="/set_local?local=en">
                <%= image_tag "reskin/flag/usa.jpg" %> English</a>
              <a class="dropdown-item" href="/set_local?local=cn"><%= image_tag "reskin/flag/china.jpg" %> Chinese</a>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="sub-footer">
    <div style="float: left; margin-left: 3%">
      © 深圳飞灵教育有限公司 2010-2018 All Rights Reserved.
    </div>
    <div style="float: right; margin-right: 3%">
      粤ICP备17164278号
    </div>
  </div>
</footer>
