<footer>
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <h4>
            <%= link_to I18n.t("footer.terms.title"), terms_conditions_path, target: '_blank'%>
          </h4>

          <div class="body">
            <p>
              <%= image_tag "reskin/location-green.png"%>
              <span><%= I18n.t "footer.terms.address" %></span></p>

            <p>
              <%= image_tag "reskin/phone-green.png"%>
              <span><%= I18n.t "footer.terms.phone" %></span></p>
          </div>
        </div>

        <div class="col-sm-5 text-left">
          <div class="email-date">
            <h4><%= mail_to I18n.t "footer.terms.email", "support@feelingyt.com", class: 'link'%></h4>
            <!-- <h4><a href="suggestion@feelingyt.com"><%= I18n.t "footer.terms.email" %></a></h4> -->
            <p><%= I18n.t "footer.terms.office_time" %></p>

            <div class="dropdown">

              <a href="/set_local?local=en" id="footer-language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <% if session[:locale] == "cn" %>
                  <%= image_tag "reskin/flag/china.jpg" %> Chinese <i class="fa fa-angle-down"></i>
                <%else%>
                  <%= image_tag "reskin/flag/usa.jpg" %> English <i class="fa fa-angle-down"></i>
                <%end%>

              </a>

              <div class="dropdown-menu top-bar-drop" aria-labelledby="footer-language">
                <a class="dropdown-item" href="/set_local?local=en">
                  <%= image_tag "reskin/flag/usa.jpg" %> English</a>
                <a class="dropdown-item" href="/set_local?local=cn"><%= image_tag "reskin/flag/china.jpg" %> Chinese</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-footer">
    <div class="container text-right">
      Copyright ©  Feiling Education ™ 2010-2017 All rights reserved.
    </div>
  </div>
</footer>
