<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", width: "45px", height: "45px", class: "d-inline-block" %>
    飞灵教育
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#instructor"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">导师</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#become-instructor">成为导师</a>
          <a class="dropdown-item" href="#instructor-rating">导师评分</a>
          <a class="dropdown-item" href="#match-result">match结果</a>
          <a class="dropdown-item" href="#early-consult">前期咨询</a>
          <a class="dropdown-item" href="#brainstorm">头脑风暴</a>
          <a class="dropdown-item" href="#essay-consult">文书改写</a>
          <a class="dropdown-item" href="#visa-consult">签证咨询</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#service">服务</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#fees">费用</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#team">团队</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#shopping">购物</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#community">社区</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right d-flex align-items-center">
      <% if user_signed_in? %>
        <li class="nav-item">
        </li>
        <% if can_apply_for_instructor? %>
          <li class="nav-item">
            <%= link_to "申请成为导师", new_instructor_info_path, remote: true, class: "btn" %>
          </li>
        <% end %>
        <% if user_is_instructor? %>
          <li class="nav-item">
            <%= link_to "订单", consult_transactions_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "学生", '#', class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "消息", '#', class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "评分", '#', class: 'nav-link' %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <%= link_to user_info_path, class: "nav-link dropdown-toggle no-caret", data: {toggle: 'dropdown'} do %>
            <%= image_tag profile_image_of, class: "profile-image-thumbnail" %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to '我的主页', edit_instructor_info_path, class: 'dropdown-item' %>
            <%= link_to '个人中心', user_info_path, class: 'dropdown-item' %>
            <%= link_to '个人信息', edit_user_info_path, class: 'dropdown-item' %>
            <%= link_to '安全中心', edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to "退出", destroy_user_session_path, class: "dropdown-item", method: "delete" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "登录", new_user_session_path, remote: true, class: "btn btn-outline-success" %>
        </li>
        <li class="nav-item">
          <%= link_to "注册", new_user_registration_path, remote: true, class: "btn" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
