<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>飞灵教育 | 共享留学 | 成为导师</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
    <%= render partial: 'header' %>
    <div id="flash">
      <%= render partial: 'flash' %>
    </div>
    <section class="main">
      <%= yield %>
    </section>
    <%= render partial: 'footer' %>
  </div>
  <%= render partial: 'dialog' %>
</body>
</html>
