<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>飞灵教育 | 共享留学 | 成为导师</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  <%= include_gon %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<% modals = {} %>
<body>
  <div class="body">
    <%= render partial: 'top_header' %>
    <%#= render partial: 'header' %>
    <div id="flash">
      <%= render partial: 'flash' %>
    </div>
    <div class="main-content <%= background%>">
      <%= content_for?(:application) ? yield(:application) : yield %>
    </div>
    <!-- <section class="main"> -->
      <% # for nested layout %>
      <%#= content_for?(:application) ? yield(:application) : yield %>
    <!-- </section> -->
    <%#= render partial: 'footer' %>
    <% if show_footer?%>
      <%= render partial: 'footer_new' %>
    <% end %>
  </div>
  <%= render partial: 'dialog' %>
  <%= form_tag '', method: 'post', id: 'template-form', style: 'display:hidden' %>
</body>
</html>
